extends ../base

block vars
	-let pageName = 'collections-page'
	-let pageTitle = 'Коллекции'
	-let parentPage = 'О музее'
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle, parentPage, 'museum.html')
					h1.h2.pagetop__title= pageTitle
				.pagetop__tabs.tabs.container.scroll-layer
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="fabrics") Ткани
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="ceramics") Керамика
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="kitchenware") Кухонная утварь
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="memorial") Мемориальный архив
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="daguerreotypes") Дагеротипы
			section.section.collections
				.collections__container.container.container--bg-fill
					.collections__content.background-fill 	
						.user-content.narrow-content
							.tab-body#fabrics
								h3 Ткани
								p Ковры, скатерти, диванные подушки, оконные драпировки создавали уют и жилой комфорт усадебного дома. Ковры были практически в каждой комнате. Создатель музея Николай Иванович Тютчев сохранил их местоположение и в экспозиции. Это ковры ручной работы – персидские, азербайджанские, текинские, кавказские конца XVIII – XIX в. Коллекция насчитывает 99 предметов. 
								+picture('image-93', 'jpg', false, 'Салфетки с владельческими инициалами')
								p <strong>По своему происхождению предметы этой коллекции делятся на несколько групп:</strong>
								ul
									li Предметы, бытовавшие в усадебном доме и находившиеся в нем к моменту открытия музея.
									li Мемориальные предметы, принадлежавшие Ф.И.Тютчеву, И.С.Аксакову.
									li Предметы из коллекции Н.И.Тютчева, переданные им в дар музею в 1920-х годах.
									li Вещи, поступившие в музейный период и являющиеся предметами из семей владельцев Муранова и лиц из их родственного окружения.
								p Особого внимания заслуживает шерстяной ковёр ручной работы, выполненный неизвестными мастерами (2-я половина XIX в.) из Зеленой гостиной. Высочайшим образцом женского рукоделия, бывшим традиционным занятием дам высшего света, является ковёр, вышитый по канве цветною шерстью вдовой поэта Фёдора Ивановича Тютчева Эрнестиной Фёдоровной Тютчевой. Ею же вышиты оконные драпировки, экспонирующиеся в Спальне Ф.И.Тютчева и Библиотеке Главного дома. Мемориальными вещами Ф.И.Тютчева из этой коллекции являются ковер в кабинете и подушка для ног. А с именем И.С.Аксакова связаны ковер в его кабинете и многочисленные ленты от венков, которые были возложены на его могилу.
								p В технике рельефной вышивки золотной, серебряной и шелковой нитью по атласу выполнены во 2-й половине XVIII в. большеформатные герб рода Остерманов и монограмма гр. Ф.А.Остермана, заключенные в овальные ореховые рамы. Уникальным экспонатом является парадный детский костюм Ф.А.Остермана из золотистой камки, с тканевым, матовым растительным орнаментом (сер. 18 в.), состоящий из кафтанчика, кюлот, камзола. В музейный период коллекция пополнилась бытовыми предметами, сохраненными О.В.Муратовой, правнучкой Ф.И.Тютчева.
								.detail__gallery
									.swiper.swiper-tape.detail__gallery-slider
										.swiper-wrapper.detail__gallery-list
											+picture('image-94', 'jpg', 'detail__gallery-link', 'Монограмма гр. Ф.А.Остермана, XVIII в.', true, 'collection-01')
											+picture('image-95', 'jpg', 'detail__gallery-link', 'Герб рода Остерманов, XVIII в.', true, 'collection-01')
											+picture('image-96', 'jpg', 'detail__gallery-link', 'Парадный детский костюм Ф.А.Остермана, сер. XVIII в.', true, 'collection-01')
								p Среди поступивших предметов - крестильные рубашечка и чепчик О.Н.Тютчевой (урожд. Путяты, 1840 г.), ее свадебные рубашка и туфли (1869 г.) и свадебные туфли ее дочери Е.И.Тютчевой (1910 г.), дореволюционный сюртук-визитка Н.И.Тютчева, а также его детская рубашка-косоворотка, вышитая А.Ф.Аксаковой, старшей дочерью поэта Ф.И.Тютчева (1880-е гг.). 
								p Представляют бытовой интерес предметы, вышедшие из употребления: саше, свадебные мешочки для конфет, мешочки для ниток. Интересны также предметы и никогда не выходившие из употребления – это салфетки с владельческими инициалами. В данном поступлении это салфетки чайные льняные родственников Ф.И.Тютчева – дочерей Екатерины и Дарьи Тютчевых, жены Эрнестины Тютчевой и сестры Дарьи Ивановны Сушковой, которые находились в мурановском флигеле и были в употреблении в семье внуков поэта. 
								.detail__gallery
									.swiper.swiper-tape.detail__gallery-slider
										.swiper-wrapper.detail__gallery-list
											+picture('image-93', 'jpg', 'detail__gallery-link', 'Салфетки с владельческими инициалами', true, 'collection-02')
											+picture('image-97', 'jpg', 'detail__gallery-link', 'Вышивка Э.Ф. Тютчевой — второй супруги поэта', true, 'collection-02')
								p Заслуживает внимания набор хлопчатобумажных носовых платков с рисунками, выполненными набойкой со следующими сюжетами: «Наполеон на Поклонной горе», «Пожар Москвы 1812 г.» (Россия, 1912 г.) по картинам В.В.Верещагина, с изображением гербов губерний и областей Российской империи, с дидактическим рисунком «Когда в Москве 12 ч. дня, какая разница в прочих городах» (Россия, нач. 20 в.). Платки принадлежали Ф.И.Тютчеву, внуку поэта.
							.tab-body#ceramics
								h3 Керамика
								+picture('image-98', 'jpg', false, 'Сервиз')
								p Коллекция состоит из 523 предметов. Она включает изделия из фарфора и фаянса преимущественно второй половины XVIII – конца XIX в.
								p В этом собрании представлены изделия многих русских заводов: Императорского фарфорового завода, Гарднера, Попова, Юсупова, Всеволожского и Поливанова, Миклашевского, Сабанина, Иконникова, Сафронова, бр. Корниловых, Кудинова, М.С. Кузнецова, Ауэрбаха, а также западноевропейских. Среди них – французские – Даготи, Фейе, Дарт, Наст, герцога Ангулемского, Куртейль, на рю Паради; немецкие – Мейсенский, Берлинский; австрийский – Венский; английские – Кроун-Дерби, Веджвуд, Давенпорт. Основную часть коллекции «Керамика» составляют предметы, бытовавшие в усадебном доме и находившиеся в нём к моменту открытия музея. Такие хрупкие материалы, как фарфор и фаянс, от энгельгардтовских времён до музейной поры не дошли. Среди мелких предметов на столе Е.А. Боратынского в Кабинете двух поэтов отметим фаянсовый стаканчик (КП-557), принадлежавший поэту. Он был передан в музей правнуком поэта Дмитрием Александровичем Боратынским. Посуды и фарфоровых изделий, связанных с именами из семейства Путят, в собрании музея почти нет. Кроме одного предмета – чайника завода Веджвуд (КП-2558) из небольшого чайного сервиза, подаренного Д.В. Путятой в 1869 году племяннице Ольге Николаевне Путяте в день её свадьбы. Он был передан в дар музею Кириллом Васильевичем Пигарёвым в 1972 г. Семья Тютчевых хранила вещи как мурановских обитателей, так и родственников, привезённые из разных мест. В мемориальной экспозиции музея было представлено множество личных вещей Ф.И. Тютчева. В спальне, на комоде, стояли рядом фарфоровая чашка с блюдцем розового цвета (КП-1087), которой постоянно пользовался поэт (завод Попова, сер. 19 века); на туалетном столе – фарфоровая грелка для чайника (КП-1101) в форме башни (завод Попова, сер. XIX века).
								.detail__gallery
									.swiper.swiper-tape.detail__gallery-slider
										.swiper-wrapper.detail__gallery-list
											+picture('image-99', 'jpg', 'detail__gallery-link', 'Фаянсовый стаканчик (КП-557), принадлежавший поэту', true, 'collection-03')
											+picture('image-100', 'jpg', 'detail__gallery-link', 'Чайник завода Веджвуд (КП-2558)', true, 'collection-03')
											+picture('image-101', 'jpg', 'detail__gallery-link', 'Фарфоровая чашка с блюдцем (КП-1087), которой пользовался поэт', true, 'collection-03')
											+picture('image-102', 'jpg', 'detail__gallery-link', 'Фарфоровая грелка для чайника (КП-1101) в форме башни', true, 'collection-03')
								p Вероятно, старшей дочери поэта Анне Фёдоровне Тютчевой принадлежали чашки с фотопортретами её воспитанников - вел. княжны Марии Александровны (КП-1214) и вел. князя Сергея Александровича (КП-1473). Одна из них (с изображением вел. князя Сергея Александровича) имеет марку завода бр. Корниловых, другая – с портретом его сестры, вероятно, того же завода. С большой долей вероятности можно предположить, что они были заказаны царской семьёй для Анны Фёдоровны на память о её воспитанниках.
								.detail__gallery
									.swiper.swiper-tape.detail__gallery-slider
										.swiper-wrapper.detail__gallery-list
											+picture('image-103', 'jpg', 'detail__gallery-link', 'Чашка с фотопортретом вел. княжны Марии Александровны (КП-1214) ', true, 'collection-04')
											+picture('image-104', 'jpg', 'detail__gallery-link', 'Чашка с фотопортретом  вел. князя Сергея Александровича (КП-1473)', true, 'collection-04')
								p Иван Фёдорович Тютчев, сын поэта, сохранил сервиз (КП-656-685), некогда принадлежавший матушке поэта Екатерине Львовне. В семье Тютчевых он был в употреблении более 100 лет, правда, только в парадных случаях. Это мейсенский фарфор 1750-1760-х гг., всегда считавшийся большой ценностью.
								+picture('image-105', 'jpg', false, 'Сервиз, мейсенский фарфор 1750-1760-х гг.')
								p Естественно, что в доме было много бытовых предметов из фарфора и фаянса, свидетелей былого уюта ушедшей усадебной жизни: умывальные сервизы, полоскушки, кувшины, молочники.
								p В 1770-е годы в Европе и России распространяется стиль классицизм, ориентированный на классическое искусство античности. Достижения классицизма ярко продемонстрировала Венская мануфактура. Это производство представлено в Муранове несколькими предметами из коллекции внука поэта Н.И. Тютчева: рюмочной передачей и двумя ажурными вазами 1803 года, а также ажурной вазой на подставке 1805 года.
								p Жемчужина мурановского собрания – чашка (КП-341) в стиле ампир Императорского фарфорового завода 1820-х годов с подписной миниатьюрой Владимира Мещерякова. Он был одним из лучших миниатюристов ИФЗ.
								.detail__gallery
									.swiper.swiper-tape.detail__gallery-slider
										.swiper-wrapper.detail__gallery-list
											+picture('image-106', 'jpg', 'detail__gallery-link', 'Чашка (КП-341), 1820-х годов', true, 'collection-05')
											+picture('image-107', 'jpg', 'detail__gallery-link', 'Ажурная ваза, 1805 г.', true, 'collection-05')
											+picture('image-108', 'jpg', 'detail__gallery-link', 'Ажурная ваза, 1803 г.', true, 'collection-05')
							.tab-body#kitchenware
								h3 Кухонная утварь
								.detail__gallery
									.swiper.swiper-tape.detail__gallery-slider
										.swiper-wrapper.detail__gallery-list
											+picture('image-109', 'jpg', 'detail__gallery-link', false, true, 'collection-06')
											+picture('image-110', 'jpg', 'detail__gallery-link', false, true, 'collection-06')
											+picture('image-111', 'jpg', 'detail__gallery-link', false, true, 'collection-06')
								p Коллекция включает изделия из металла, дерева, стекла, керамики, холста.
								p В основном фонде – 177 предметов, записанных за 166 номерами. В НВФ фонде 86 предметов, записанных за 86 номерами. Коллекция включает изделия из металла, дерева, стекла, керамики, холста. Это - многочисленные медные кастрюли и сковороды, ступы с пестами, деревянное корытце, формы для кекса, тазы для варенья, крынки, сечки, чугунки, ложки разливательные, дуршлаги, вафельницы, подносы, листы для хлебов, противни, половники, ухваты, кочерги, ложки, блинницы, тарелки, спиртовки, бутыли и бутылки, а также кухонная мебель: столы, полки, сундуки, поставец и керосиновая висячая лампа, часы-ходики, полотенца и пр., словом, все то, что создавало атмосферу быта и уюта усадебной жизни.
								p Многие из этих предметов переходили из поколения в поколение, например кастрюли, сковороды - еще времен Энгельгардтов и Боратынских; ступы собрались почти со всего семейства.
								+quote
									|«… наверняка есть ступа и Дарьи Ивановны Сушковой, и Аксаковых» (По воспоминаниям О.В.Муратовой, правнучки Ф.И.Тютчева)
								p Особый интерес представляют предметы, вышедшие из употребления: грелка в виде круглого металлического сосуда, состоящего из двух спаянных половин с резьбовым отверстием вверху (принадлежала Э.Ф.Тютчевой, жене поэта), сечки различной формы, чайник со спиртовкой и подставкой для спиртовки, безмены, мороженицы, вафельницы, печатка для просфор, специальные кастрюли для рыбы. Одни предметы были найдены на чердаке усадебного дома, в каретном сарае, другие - поступили в виде даров от потомков семьи Тютчевых (К.В.Пигарева, О.В.Муратовой), сотрудников музея (В.В.Расстригина, А.К.Петрова), жителей окрестностей и многих других лиц. В музее открыта постоянно действующая экспозиция «Усадебная кухня и буфетная». В ходе интерактивной экскурсии посетители смогут познакомиться со многими из перечисленных предметов.
								.detail__gallery
									.swiper.swiper-tape.detail__gallery-slider
										.swiper-wrapper.detail__gallery-list
											+picture('image-112', 'jpg', 'detail__gallery-link', 'Мороженица', true, 'collection-06')
											+picture('image-113', 'jpg', 'detail__gallery-link', 'Вафельница', true, 'collection-06')
											+picture('image-114', 'jpg', 'detail__gallery-link', 'Вафельница', true, 'collection-06')
							.tab-body#memorial
								h3 Мемориальный архив
								p Усадьба Мураново к началу XX века стала средоточием семейных реликвий и документов рода Тютчевых. После образования в 1920 г. музея все эти документы составили музейный архив. На сегодняшний день архив состоит из 13448 единиц хранения.
								p <strong>В мурановском архиве хранятся документы пяти поколений рода Тютчевых. Это:</strong>
								p I. Общеродовые документы:
								ul
									li генеалогические (справка из разрядного архива о происхождении рода Тютчевых – 1788 г.; родословная Тютчевых – 1877 г., поколенная роспись рода Тютчевых и т.п.);
									li имущественно-хозяйственные документы по Овстугу и Муранову (завещание бабки поэта П.Д. Тютчевой – 1797 г.; межевые книги; купчии по имениям – 1720 – 1846 гг.; акты полюбовного размежевания; закладные; отказные книги; выписки из писцовых книг; «вводные листы»; планы с. Овстуга 1797 – 1906 гг. и т.п.);
									li имущественно-хозяйственные документы по с. Муранову (межевая книга и план по с. Муранову – 1767 – 1768 гг.; купчии – 1804 – 1816 гг.; «вводные листы» - 1849, 1887 гг.; акты полюбовные, соглашения о разделе земель; планы с. Муранова 1767, 1821 гг. и строений в нём – 1878, 1907 гг.)
								+picture('image-115', 'jpg', false, 'Геометрический план сельца Мураново', true)
								p II. Биографические документы:
								ul
									li документы И.Н. Тютчева (1776 – 1846), отца поэта (справка из метрической книги о рождении в 1776 г. (копия 1903 г.); свидетельство об увольнении в 1813 г. и т.п.);
									li документы Ф.И. Тютчева (1803 - 1873) (справка из метрической книги о рождении и крещении 1803 г.(копия 1903 г.)); свидетельство о бракосочетании Ф.И. Тютчева и Эрн. Дёрнберг в 1839 г. (копия 1899 г.); свидетельство о смерти и погребении в 1873 г. (копия 1896 г.); материалы, связанные со смертью Ф.И. Тютчева – статьи и некрологи 1873 – 1886 гг.
									li документы Э.Ф. Тютчевой (р. Пфеффель, 1810 – 1894), второй жены поэта: личные (метрическое свидетельство о рождении в 1810 г. (копия 1839 г.)); свидетельство личности – 1873 г.; свидетельство о смерти – 1894 г.; имущественно-хозяйственные: купчии, запродажные письма, доверенности, тетради с записями расходов и упражнениями по русскому языку и истории. 
									li документы детей Ф.И. Тютчева: личные, служебные (свидетельства о рождении, завещания, паспорт И.Ф. Тютчева, сына поэта, газетные вырезки статей И.Ф. Тютчева 1869 – 1882 гг.);
									li документы Л.Н. Энгельгардта (1766 - 1836): личные, служебные (родословная таблица, аттестаты об участии в сражениях 1791, 1794 гг.; указ о награждении золотым знаком 1797 г.; молитвы и назидательные чтения для ежедневного употребления);
									li документы Н.В. Путяты (1801 - 1877): акт о составлении товарищества на добывание золота на Алтае – 1844 г., устав общества любителей художеств – 1860 г.;
									li документы С.Л. Путяты (р. Энгельгардт, 1811 – 1844 гг.): отпускные свидетельства крепостным 1846 – 1861 гг.; «вводные листы» 1849 г.; купчая 1850 г., межевые книги по с. Скуратово Тульской губ. 1852, 1858 гг., планы с. Скуратово 1874, 1877 гг.
								.detail__gallery
									.swiper.swiper-tape.detail__gallery-slider
										.swiper-wrapper.detail__gallery-list
											+picture('image-116', 'jpg', 'detail__gallery-link', 'Поэзия', true, 'collection-06')
											+picture('image-117', 'jpg', 'detail__gallery-link', 'Поэзия', true, 'collection-06')
											+picture('image-118', 'jpg', 'detail__gallery-link', 'Прошение', true, 'collection-06')
								p III. Переписка лиц из семейного окружения Ф.И. Тютчева и дневники содержат многочисленные сведения о жизни и творчестве поэта, его современников, отражают культурную и политическую жизнь России и Европы XIX века.
								p  Сохранилась переписка дочерей поэта: А.Ф. Аксаковой (р. Тютчевой), Е.Ф. Тютчевой, Д.Ф. Тютчевой 1840-х – 1880-х гг.; переписка барона К. Пфеффеля к сестре Э.Ф. Тютчевой (р. Пфеффель) – 1829 – 1890 гг.; переписка Е.Ф. Тютчевой и Д.И. Сушковой (р. Тютчевой), сестрой поэта, - 1850-х, - 1870-х гг.; переписка семьи Путят – 1850-х – 1860-х гг. письма И.Ф. Тютчева (1846 - 1909), сына поэта к тёще С.Л. Путяте (р. Энгельгардт), жене – О.Н. Тютчевой (р. Путяте), сыновьям и другим лицам – 1860-х – 1909 гг.; письма М.Ф. Бирилёвой (р. Тютчевой, 1840-1872), дочери поэта к разным лицам – 1850-х – 1872 гг. В дневниках М.Ф. Тютчевой – 1859 – 1872 гг. – содержатся факты исторического, литературного, семейно-бытового характера.
							.tab-body#daguerreotypes
								h3 Дагеротипы
								+picture('image-119', 'jpg', false, false, true)
								p В собрании мурановского музея хранятся восемнадцать дагеротипов, по праву включенных в категорию особо ценных экспонатов из-за их чрезвычайной редкости, хорошей сохранности, достойного художественного уровня и, что самое важное, из-за исключительного историко-мемориального содержания.
								p Авторами семи дагеротипов являются братья Г. и И. Венингеры, К. Даутендей и К. П. Мазер, остальные — неизвестных мастеров. Шестнадцать из восемнадцати дагеротипов принадлежали семье Тютчевых, потомков поэта, последних владельцев мурановской усадьбы.
								+picture('image-120', 'jpg', false, 'Ателье К.П. Мазера (?). Портрет С.М. Боратынской. Москва. 1852 г.', true)
								p Два дагеротипа поступили в собрание уже в музейное время (они единственные из собрания с подписанными датами, остальные дагеротипы датировались в процессе исследовательской работы). На них изображены лица из родственного окружения Е.А. Боратынского. Двойной портрет И. А. Боратынского, брата поэта, и его жены Анны Давыдовны (урожд. Абамелек), выполненный в 1854, г., был куплен в 1928 г. у В. Н. Обуховой, дальней родственницы Боратынских (они вместе со знаменитой певицей Н. А. Обуховой — потомки двоюродной сестры поэта, в замужестве Обуховой). Автор дагеротипа неизвестен, но явно принадлежит к хорошей художественной школе, о чём свидетельствует грамотно скомпонованное и безупречно выполненное изображение. Второй дагеротип, с портретом своей бабушки, подарила музею графиня А. М. Баранова (урожд. Боратынская) внучатая племянница поэта. На нём изображена С. М. Боратынская (урожд. Салтыкова, в первом браке баронесса Дельвиг) — жена С. А. Боратынского, брата поэта. Дагеротип датирован: на обороте окантовки надпись, выполненная неизвестной рукой: «март 1852 г.». Дар был осуществлён в 1933 г. и, конечно, дарительница была записана в книге поступлений без титула.
								p Автор дагеротипа считался неизвестным, но есть косвенные доказательства, что им является К. П. Мазер, который с 1851 по 1854 г.г. имел ателье в Москве, и наш дагеротип попадает в эти временные рамки. Оформление дагеротипов этого автора однотипно: как правило это чёрное паспарту с прямоугольным вырезом с закруглёнными углами и плавно изогнутой внутрь линией сторон, по внутреннему краю три золотистые линии; по периметру стекла — тиснёный золотистый кант. Кроме того у Мазера снимаются лица из дружеского круга С. М. Боратынской. Например, в собрании литературного музея ИРЛИ имеется дагеротип близкой подруги Софьи Михайловны А. Н. Карелиной, где она снята со своей дочерью Елизаветой Григорьевной (то есть прабабка и бабка А. Блока). Они были дружны, их обширная переписка дошла до нашего времени и некоторые сведения из их писем вошли в летопись жизни и творчества Е.А. Боратынского. Также в собрании ГИМа есть три дагеротипа Мазера с портретами членов семьи Кривцовых — соседей и друзей Боратынских по тамбовскому имению Мара. Как правило, знакомые рекомендовали понравившегося мастера друг другу. Так что наш дагеротип вполне может быть приписан К. П. Мазеру.
								+picture('image-121', 'jpg', false, 'Ателье И. Венингера. Портрет Ольги, Екатерины и Анастасии Путят. С-Пб., около 1846 - 1847 гг.', true)
								p Возникает вопрос: почему же в собрании немного дагеротипов (как, впрочем, и других вещей), связанных с Боратынским, хотя музей располагается в доме, построенном для него, и тесно связан с именем поэта? Объясняется это особенностями судьбы. В своём новом усадебном доме Боратынские прожили только год, а затем уехали в заграничное путешествие, во время которого в 1844 г. поэт внезапно скончался в Неаполе. После его смерти между сёстрами А. Боратынской и С. Путятой был осуществлён раздел имущества, по которому Мураново досталось Софье. Вдова поэта получила богатые казанские имения, куда перевезла почти всё, что было связано с её мужем. Уже в музейное время некоторые вещи поэта и его семьи приобретались или были получены в дар от потомков, в том числе два дагеротипа, о которых и шла речь выше.
								p После Боратынских хозяевами Муранова стали их родственники Путята. От этой семьи сохранился единственный дагеротип, изготовленный в ателье И. Венингера в Санкт-Петербурге, но удивительный по непосредственности и очаровательности персонажей. Это три маленькие дочери Н. В. и С. Л. Путят: Анастасия, Ольга и Екатерина. В соответствии с возрастом девочек—старшая Анастасия примерно восьми лет, Ольга—шести, младшая Екатерина—четырех—датировать съёмку следует 1846 г. (даты рождения девочек соответственно: 1838,1840,1842 гг.).
								p Можно представить, как тщательно готовили детей к съёмке: одели в нарядные платья, уговаривали сидеть смирно, не шевелясь. Старшая и младшая сёстры выдержали немалую временную паузу, необходимую для получения изображения, а Ольге это не удалось, она шевельнулась, и её головка немного смазана. Именно эта непоседа станет наследницей мурановского имения (её сестры рано уйдут из жизни), в 1869 г. выйдет замуж за И. Ф. Тютчева, сына поэта, почётного мирового судью, члена Государственного совета. Она доживёт до открытия музея в 1920 г., и именно её сын Н. И. Тютчев станет его основателем и первым директором.
								p Итак, с 1869 г. начинается «тютчевский» период в мурановской усадьбе. Сюда стекаются мемории рода: архив, фамильные портреты, документы, рукописи, мебель, предметы быта, изделия прикладного искусства и т. д. Но особую ценность имеют вещи, связанные с Ф. И. Тютчевым. После смерти поэта в 1873 г. его вдова Э. Ф. Тютчева решила, что наследником должен стать сын Иван.
								p Насыщенность усадебного дома предметами материальной культуры помогла сформировать богатое собрание, на базе которого была создана знаменитая экспозиция мурановского музея. Среди мемориальных вещей заметное место и по сей день занимают дагеротипы, из них 8 принадлежали собственно Ф. И. Тютчеву. Это портреты его детей: Екатерины — от первого брака; Марии и Ивана — от второго брака; два дагеротипа с выполненного в 1840 г. живописного портрета второй жены поэта Эрнестины Фёдоровны (урожд. баронессы Пфеффель) работы художника Ф. Дюрка. Оригинал портрета находится в собрании музея. Парные изображения родителей поэта И. Н. и Е. Л. Тютчевых, заключённые в одну рамку. Они висели в кабинете поэта в Санкт-Петербурге. Украшением коллекции является групповой портрет семьи тётушки поэта по материнской линии Т. Л. Миллер (урожд. Толстая), с мужем Фёдором Ивановичем и сыном Владимиром.
								p Долгое время в семье Тютчевых портрет красивой молодой женщины считался портретом первой жены поэта Элеоноры Фёдоровны (урожд. графини Ботмер). Однако Элеонора умерла в 1838 г., когда дагеротипия находилась ещё только в процессе разработки. Оказалось, что это изображение младшей сестры Элеоноры, красавицы Клотильды — предмета увлечения и адресата стихотворений Г. Гейне. Клотильда жила в семье Тютчевых в мюнхенский период их жизни и принимала деятельное участие в воспитании дочерей поэта — Элеоноры-Анны, Дарьи и Екатерины.
								p Дагеротип с портретом А. О. Россета, который входил не в родственный, а в светский круг знакомых семьи Тютчевых, вероятно, был подарен самим изображённым или его сестрой, знаменитой «калужской губернаторшей», красавицей и умницей А. О. Смирновой-Россет, с которыми поэт и его дочь Анна часто общались. Ещё одна вещь в собрании связана с лицами из дружеского окружения. Но это не дагеротип, а фотография с несохранившегося дагеротипа. На ней изображён пожилой мужчина с подростком. Со слов Кирилла Васильевича мы знаем, что для изготовления фотокопии дагеротип освободили от стекла, сделали снимок, и изображение на дагеротипе стало блекнуть, через несколько минут оно исчезло полностью. Осталась фотография, которую мы включаем в каталог дагеротипов за номером «19».
								p Самые востребованные и ценные дагеротипы — это два портрета самого Ф. И. Тютчева. Один из них был выполнен в Мюнхене между 1841 и 1844 гг. (время появления первого ателье в Мюнхене и год отъезда Тютчевых из Мюнхена в Россию). Но в 1844 г. Тютчев около двух месяцев (май — июнь) был в Париже — родине дагеротипии. Возможно, его портрет был выполнен там. Это самый ранний дагеротип коллекции. Второй, на котором поэт запечатлён с газетой в руке, скорее всего выполнен в конце 1840-х гг. Он неподписной, но рисованный задник с полками для книг и дверью появляется на дагеротипах ателье К. Даутендея в Санкт-Петербурге (см. групповой портрет членов-уч-редителей Петербургского архелогическо-нумизматического общества, ГИМ 68848).
								+picture('image-122', 'jpg', false, 'Ателье К. Даутендея. Портрет Ф.И. Тютчева. С-Пб., 1848 - 1849 гг.', true)
								p После того как эта пластина была раскантована, на обороте открылась надпись: «1875. Возобновлено». Значит ли это, что с нашего дагеротипа сделали копию, или же это копия с упомянутого оригинала, с которого в 1875 г., после смерти поэта сделали повторение? Думается, что первая версия более правдоподобна, так как сделанный в это же время портрет дочери поэта Марии примерно в восьмилетием возрасте, стоящей у того же кресла, на котором изображён отец, и по качеству исполнения и по оформлению (одинаковые коричневые кожаные рамки) очень похожи. Датировка тютчевского портрета осуществлена по возрасту изображённой девочки.
								p Кроме мурановских дагеротипов существует ещё один с портретом поэта, хранящийся в Пушкинском доме (ИРЛИ) в Санкт-Петербурге. В 1928 г. он был передан в дар от Е. и Н. Тютчевых, внучек поэта и Е. А. Денисьевой. Скорее всего, он принадлежал Елене Александровне — последней роковой любви Ф. И. Тютчева, адресату стихотворений «денисьевского цикла».
								p В Российской государственной библиотеке (бывшей «ленинке») есть фотография с несохранившегося дагеротипа с изображением Ф. И. Тютчева. Таким образом, поэт позировал для дагеротипной съёмки, как минимум, четыре раза. 
								p Увы, мы не имеем ни одного дагеротипа, запечатлевшего Е. А. Боратынского, хотя поэт умер в 1844 г., когда ателье уже существовали. Его прижизненные портреты вполне могли быть сняты, чему имеются косвенные подтверждения. В 1915 г. поэт Всеволод Иванов пишет сонет «Перед портретом Боратынского». Этот философско-поэтический шедевр возник от впечатления портрета Боратынского, несомненно, представленного в виде дагеротипа. Символисты предельно точны в деталях, а здесь автор говорит о «волшебном стекле» — что это, как не дагеротип с его таинственными переливами изображения? Хотя он до нас не дошёл, но, хочется верить, несомненно, существовал!
						include ../parts/goscatalog
			+seeMore(pageName, parentPage)