extends ../base

block vars
	-let pageName = 'faq-page'
	-let pageTitle = 'Частые вопросы'
	-let parentPage = 'Посетителям'
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle, parentPage, 'visitors.html')
					h1.h2.pagetop__title= pageTitle
			section.section.faq
				.faq__container.container.container--bg-fill
					.faq__content.background-fill
						ul.faq__list.accordion.narrow-content
							- let n = 1
							mixin faqItem(question)
								li.faq__item
									button.faq__question.tab-target.btn.btn--black(data-button="faq-" + n)= question
									.faq__answer.tab-body.user-content(id="faq-" + n++)
										block
							+faqItem('Почему я не могу зайти в Главный усадебный дом без экскурсии?')
								p В основе концепции мурановского музея лежит традиция, которую заложил первый директор и пожизненный хранитель музея — внук Фёдора Ивановича Тютчева Николай Иванович Тютчев. Он принимал в музее не посетителей, но гостей и «рассказывал музей», пытаясь поделиться той уникальной атмосферой XIX века, которую сотрудники музея стараются хранить по сей день. При путешествии по комнатам Главного усадебного дома складывается впечатление, что его хозяева недавно вышли, в доме нет ни одной этикетки или экспликации, количество защитных конструкций (витрин, колпаков) крайне ограничено. 
								p Таким образом, насладиться атмосферой в полной мере и получить максимально полную информацию о владельцах дома и эпохе Вы можете в сопровождении опытного экскурсовода.
							+faqItem('Мне показалось, что постройки в усадебном парке требуют ремонта.')
								p На территории усадьбы невозможно построить новый объект. В настоящее время усадебный комплекс состоит из шести мемориальных объектов и восьми восстановленных. Для поддержания объектов в надлежащем состоянии нужны определенные финансовые и временные затраты, но мы тщательно следим за их состоянием и всегда стараемся своевременно организовывать реставрационные работы. В 2023 году закончилась масштабная реставрация Храма Спаса Нерукотворного образа — одной из мемориальных построек, сохранившихся с домузейного периода.
							+faqItem('Почему парковка находится далеко от входа в музей?')
								p Комфорт гостей усадьбы всегда будет приоритетом для её сотрудников. В настоящее время готовится масштабным проект строительства нового визит-центра, что позволит максимально приблизить вход к территории парковки.
								p Сейчас расстояние от парковки до входа в музей составляет 250 метров, мы осознаем, что не всем гостям усадьбы удобно преодолевать это расстояние. В случае наличия физических трудностей, просим Вас заранее связаться с нами по номеру +7 (985) 317-38-98 и уведомить о необходимости проезда непосредственно к помещению музейной кассы.
							+faqItem('Почему на парковке не хватает парковочных мест?')
								p В обычные дни с парковкой проблем нет, а в праздничные дни музей принимает большое количество гостей, поэтому существует проблема нехватки парковочных мест.
							+faqItem('Почему дорожки на территории усадебного парка не асфальтированы?')
								p Потому, что такими они были в XIX веке. Сотрудники ландшафтно-паркового отдела музея всегда стараются поддерживать территорию парка в надлежащем виде, сохраняя при этом исторический облик усадьбы.
								p Мураново — типичная среднепоместная дворянская усадьба XIX века, а её камерность и уютность очень нравится большинству наших гостей, которые ищут умиротворения и покоя вдали от шумного города
							+faqItem('Почему сотрудники музея пишут фамилию поэта Евгения Боратынского через «О»?')
								p Оба варианта написания фамилии поэта являются верными.
								p Среди литературоведов и по сей день ведутся споры о правильности написания фамилии Евгения Абрамовича. Дело в том, что сам поэт многие свои письма и деловые бумаги подписывал «Боратынский», хотя известны и исключения. А все художественные произведения, кроме последнего прижизненного сборника «Сумерки», печатал с подписью «Баратынский». При его жизни критики использовали в своих отзывах только эту форму. Так же писали Пушкин, Белинский, Толстой, Бунин, Брюсов. Желание возобновить ныне написание через «о» основывается на том, что фамилия произошла от названия замка, построенного в Галиции предками Евгения Абрамовича в XIV веке, «Боратынь», т. е. «Бог ратует». Вполне возможно также, что начертание «Баратынский» представляет собой псевдоним из разряда искажений действительных фамилий.
								p На текущий момент научными сотрудниками музея «Мураново» написание фамилии поэта как «Боратынский» считается корректным.
							+faqItem('Почему нужно записываться на экскурсию заранее?')
								p Максимальное количество гостей в группе составляет 15 человек, а график экскурсий составляется в соответствии с загруженностью экскурсоводов и экскурсионной нагрузкой в конкретный день. Поэтому не всегда есть возможность попасть на экскурсию в желаемое время, особенно в периоды праздников и фестивалей, когда поток посетителей многократно возрастает. Для Вашего комфорта, рекомендуем заранее уточнять информации о наличии мест в определенное время по телефону: +7 (985) 317-38-98

			+seeMore(pageName, parentPage)