extends ../base

block vars
	-let pageName = 'inclusive-page'
	-let pageTitle = 'Инклюзивный музей'
	-let parentPage = 'Посетителям'
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle, parentPage, 'visitors.html')
					h1.h2.pagetop__title= pageTitle
			section.section.inclusive
				.inclusive__container.container
					.inclusive__content.background-fill 	
						.user-content.narrow-content
							p Дорогие гости музея! Мы хотим, чтобы история, литература, культурные ценности и особенная мурановская атмосфера были доступны и близки всем. Поэтому стараемся сделать музей более удобным, а программы интересными для всех категорий гостей.
							i.info <strong>У нас есть льготы для гостей с особенностями здоровья:</strong>
							ul
								li Дети с инвалидностью, инвалиды 1-й и 2-й групп, инвалиды Великой Отечественной войны, ветераны боевых действий имеют право на бесплатные входные билеты в музей и льготные билеты со comfort на посещение экскурсий, лекций и многих других просветительских мероприятий музея. 
								li Лицу, сопровождающему посетителя с инвалидностью, при совместном посещении музея предоставляется бесплатный входной билет. 
								li Дети с инвалидностью, инвалиды 1-й и 2-й групп, а также инвалиды 3-й группы с нарушением опорно-двигательного аппарата имеют право внеочередного прохода в здания Музея и приобретения входных билетов без очереди. Аналогичное право распространяется на лицо, сопровождающее посетителя с инвалидностью.
							i.info На наших мероприятиях каждый сможет найти занятие по душе. Мы стараемся формировать программы фестивалей с учётом потребностей всех гостей. Периодически у нас проходят специальные мероприятия для гостей с разными особенностями здоровья или благотворительные акции. Обо всех подобных мероприятия мы подробно пишем в разделе "афиша" и в социальных сетях музея.
							i.info Всем желающим мы предлагаем воспользоваться бесплатной услугой «Аудиогид» на портале izi.travel где представлены аудиотуры по всем основным постройкам, находящимся на территории заповедника.
							i.info На территории усадебного парка нет асфальтированных дорожек. Мы специально их не делаем, чтобы максимально сохранить облик усадьбы таким, каким он был в XIX веке.
							i.info Для того чтобы вам и нам было комфортно, мы рекомендуем определенную численность экскурсионных групп:
							ul 
								li до 15 человек — для всех гостей музея;
								li до 10 человек — для гостей с нарушениями опорно-двигательного аппарата, не использующих коляску для передвижения;
								li до 5 человек — для гостей с нарушениями опорно-двигательного аппарата, использующих коляску для передвижения;
								li до 6 человек при двух сопровождающих — для гостей с ментальными нарушениями и особенностями эмоционального реагирования;
								li до 10 человек при участии переводчика русского жестового языка — для гостей с нарушениями слуха;
								li до 5 человек — для слабовидящих;
								li 1 человек при сопровождающем — для слепоглухих и тотально слепых.
							.highlight.highlight--whiteback
								i.invalid Для наших гостей, испытывающих трудности передвижения
								ul
									li Здание Главного усадебного дома и выставочного зала оборудованы пандусами для удобства гостей, передвигающихся на колясках.
								.highlight.highlight--brownback
									h4 Мы будем признательны
									p если вы заранее предупредите нас о необходимости подготовки пандуса или сопровождения по телефону: +7 (985) 317-38-98 или почте otb.muranovo@mail.ru; muranovo_razvitie@mail.ru;
									p Если по причинам сложностей с передвижением у вас возникла необходимость подъехать ближе к входу в музей, пожалуйста, уведомите нас об этом, позвонив по телефону: +7 (985) 317-38-98.
								ul
									li В музее нет лифта, что делает невозможным экскурсию по второму этажу Главного усадебного дома для некоторых групп гостей. Из-за особенностей конструкции главного дома и его мемориальности (здание построено в 1842 году) мы не можем установить внутри лифт. Приносим вам извинения и готовы предложить альтернативные способы знакомства с экспозицией второго этажа главного усадебного дома.
									li В связи с конструктивными особенностями здания амбара, доступ в кафе может быть затруднителен для маломобильных гостей. В летний период времени около кафе располагаются столы и навесы. Сотрудники музея готовы в любое время предложить вам помощь.
									li При проведении экскурсий для посетителей с нарушениями опорно-двигательного аппарата наши сотрудники подбирают удобный маршрут по постоянной экспозиции музея.
									li Дорога к музею состоит из бетонных плит, в связи с этим люди с проблемами передвижения могут испытывать трудности. Мы решаем этот вопрос и хотим перенести входную группу максимально близко к парковке. Сейчас мы можем предложить вам подъехать максимально близко к входу в музей на личном транспорте, а также - услуги сопровождения.
									li На территории музея есть специально оборудованный туалет. Он находится в том же здании, где находятся другие туалетные комнаты, просто идите прямо при входе в помещение.
							.highlight.highlight--whiteback
								i.glasses <strong>Для наших гостей с особенностями зрения и слуха</strong>
								ul
									li На территории усадебного парка вы можете находиться с собакой-поводырём независимо от её размеров. Миску для воды можно получить, обратившись в кассу музея.
								i.warning К сожалению, мы не сможем предоставить возможность входа в экспозиции музея с собакой. Но вы всегда можете обратиться к сотрудникам музея, которые обеспечат сопровождение по экспозиции.
							.highlight.highlight--whiteback
								i.brain <strong>Для наших гостей с ментальными особенностями</strong>
								ul
									li При проведении экскурсий сотрудники музея учитывают потребности посетителей, адаптируя рассказ для конкретной аудитории.
								.highlight.highlight--brownback
									h4 Мы будем признательны
									p если у вас возникла необходимость адаптации экскурсии для определенной группы гостей музея, пожалуйста, обратитесь в экскурсионное бюро Музея по телефону +7 (985) 317-38-98 или отправьте письмо на электронную почту muranovo_razvitie@mail.ru.
								ul
									li Cотрудники музея постараются создать все условия, чтобы экскурсия прошла максимально комфортно для всех участников группы.
									li Пространство музея, который является памятником архитектуры, не всегда легко для восприятия людей с повышенной сенсорной чувствительностью. Поэтому, для посетителей с особенностями сенсорного восприятия есть точки разгрузки, позволяющие более спокойно чувствовать себя в музее. В усадебном парке расположены лавочки, в музейном кафе есть бумага, карандаши и настольные игры, которые помогут снять нагрузку тем, кому это необходимо.
									li Больше всего гостей в музее бывает в выходные, праздничные дни и во время школьных каникул. Если для вас это некомфортно, мы предлагаем спланировать визит в среду, четверг или пятницу, при наличии такой возможности.
								i.warning На территории заповедника находится храм, во время служб можно слышать достаточно громкие звуки звона колоколов.
								i.warning В экспозиции музея находятся действующие часы с боем.
								i.warning В экспозиции музея нет мест с ярким освещением или интерактивными объектами, начинающими работу без предупреждения.
							p <strong>Мы рядом</strong>
							i.partner Мы открыты для сотрудничества! Благотворительные фонды и общественные организации, исследователи и волонтёры, занимающимися темой инклюзии в культуре а также семьи, в которых есть люди с инвалидностью, могут присылать в музей «Мураново» заявки на посещение музея, а также предложения и пожелания о создании совместных программ: muranovo_razvitie@mail.ru.
							i.partner Мы стараемся ориентироваться как на собственный опыт, так и на опыт коллег. Для нас важно общаться с единомышленниками и узнавать о новых инклюзивных практиках в сфере культуры.
							i.info Если после знакомства с этим материалом у вас возникли вопросы, дополнения или пожелания, вы можете написать нам на почту: muranovo_razvitie@mail.ru
							i.love Всегда рады видеть вас в Муранове!

			+seeMore(pageName, parentPage)