extends ../base

block vars
	-let pageName = 'front-page'
	-let pageTitle = 'Усадьба Мураново'
	-let metaTitle = 'Усадьба Мураново | Главная'
	-let metaDescription = ''
block content
		main.main
			section.top
				.top__container
					.top__content 
						.top__title 
							span Самая
							span.c-accent Честная
							span Усадьба
							span Подмосковья
						.top__links
							a.btn.btn--black.top__link(href="#") Как добраться
							a.btn.btn--black.top__link(href="#") Часы работы
							a.btn.btn--black.top__link(href="#") Цены
							a.btn.btn--black.top__link(href="#") Спланировать посещение
						.top__ticket
							+btnTicker('accent')
								|• Купить билет
			section.section.muranovo
				.muranovo__container
					.muranovo__item
						.muranovo__word
							+svg('words', 'm')
					.muranovo__item
						.muranovo__pic
							+picture('image-01')
					.muranovo__item
						.muranovo__word
							+svg('words', 'u')
					.muranovo__item
						.muranovo__text
							p Посетите усадебный дом в Муранове и познакомитесь с его неповторимой экспозицией
					.muranovo__item
						.muranovo__word
							+svg('words', 'r')
					.muranovo__item
						.muranovo__pic
							+picture('image-02')
					.muranovo__item
						.muranovo__word
							+svg('words', 'a')
					.muranovo__item
						.muranovo__pic
							+picture('image-03')
					.muranovo__item
						.muranovo__word
							+svg('words', 'n')
					.muranovo__item
						.muranovo__pic
							+picture('image-04')
					.muranovo__item
						.muranovo__word
							+svg('words', 'o')
					.muranovo__item
						.muranovo__text.space-between
							p В сопровождении экскурсовода вы окажитесь в атмосфере русского дворянства XIX века, почувствуете себя званым и любимым гостем усадьбы.
							+btnTicker('white', 'about.html')
								|• О музее
					.muranovo__item
						.muranovo__word
							+svg('words', 'v')
					.muranovo__item
						.muranovo__pic
							+picture('image-05')
					.muranovo__item
						.muranovo__word
							+svg('words', 'o')
			section.section.events
				.events__container.container 
					.events__heading.section__heading
						h2 Афиша
						+btnTicker('grey', 'about.html')
							|• все События
					ul.events__list
						+eventItem('Выходные в Муранове', '01.06.2024 — 02.06.2024', 'image-21', "#")
							.events__prop.tag.tag--date Выходные
							.events__prop.tag.tag--pushkin 	
							.events__prop.tag.tag--age 3+
						+eventItem('Поэтический концерт для детей и их родителей «Семена добра: Сергей Михалков – детям»', '01.06.2024', 'image-22', "#")
							.events__prop.tag.tag--date Концерт
							.events__prop.tag.tag--pushkin 	
							.events__prop.tag.tag--age 5+
						+eventItem('Выставка «Любимцы муз и вдохновенья. Пушкин и Боратынский»', '06.06.2024', 'image-23', "#")
							.events__prop.tag.tag--date Выставка
							.events__prop.tag.tag--pushkin 	
							.events__prop.tag.tag--age 16+
						+eventItem('Концерт класса арфы Надежды Сергеевой', '09.05.2024', 'image-24', "#")
							.events__prop.tag.tag--date Концерт
							.events__prop.tag.tag--age 16+
			section.section.ad
				.ad__container
					.ad__content
						.ad__item
							a(href="#").ad__link Ночь музеев в Муранове
						.ad__item
							a(href="#").ad__link Фестиваль «Про речь»
			section.section.service
				.service__container 
					.service__pages
						a(href="#").service__block.service__page
							+picture('image-10', 'jpg', 'service__cover')
							h5.service__name семейные программы
						.service__block
							+picture('image-11', 'jpg', 'service__cover')
						a(href="#").service__block.service__page
							+picture('image-20', 'jpg', 'service__cover')
							h5.service__name Экскурсии
						.service__block
							+picture('image-12', 'jpg', 'service__cover')
						.service__block
							+picture('image-17', 'jpg', 'service__cover')
						a(href="#").service__block.service__page
							+picture('image-18', 'jpg', 'service__cover')
							h5.service__name Концерты
						.service__block
							+picture('image-25', 'jpg', 'service__cover')
						a(href="#").service__block.service__page
							+picture('image-16', 'jpg', 'service__cover')
							h5.service__name Усадебный крокет
						a(href="#").service__block.service__page
							+picture('image-15', 'jpg', 'service__cover')
							h5.service__name Фестивали
						.service__block
							+picture('image-14', 'jpg', 'service__cover')
						a(href="#").service__block.service__page
							+picture('image-19', 'jpg', 'service__cover')
							h5.service__name Квесты
						.service__block
							+picture('image-13', 'jpg', 'service__cover')
					.service__content
						.service__heading 
							.service__title.h2 Услуги музея
							.service__links 
								a(href="").service__link Усадьба и парк
								a(href="").service__link Главный дом
								a(href="").service__link Флигель
								a(href="").service__link Храм Спаса Нерукотворного
						.service__more 
							+btnTicker('white', 'service.html')
								|• Все услуги
			section.section.news
				.news__container.container 
					.news__heading.section__heading
						h2 Новости
						+btnTicker('grey', 'news.html')
							|• все Новости
					ul.news__list
						+newsItem('Изменение режима работы музея', '29.05.2024', 'image-21', "#")
							p Дорогие гости музея! Обращаем ваше внимание, что 🔔 в связи с проведением технических работ музей и усадебный парк закрыты 10 и 11 июня 2024 года!
						+newsItem('Фоторепортаж - литературный фестиваль «Про Речь»', '27.05.2024', 'image-26', "#")
							p 📚 👀 25 мая в усадьбе состоялся новый литературный фестиваль «Про Речь». 
						+newsItem('«Инновации и традиции могут прекрасно  сосуществовать»', '20.05.2024', 'image-12', "#")
							p Музей-заповедник «Усадьба “Мураново”» и IPQuorum совместно с Российским государственным художественно-промышленным университетом имени С.Г. Строганова проводят оцифровку части экспонатов из музейного собрания. 
			section.section.partners
				.partners__container 
					.partners__content.ticker 	
						ul.partners__list.ticker__content
							-for (let i=0; i<19; i++)
								li.partners__item.ticker__item
									span.h4 партнеры
								li.partners__item.ticker__item
									+picture('partner-mkmo', 'png')
								li.partners__item.ticker__item
									span.h4 партнеры
								li.partners__item.ticker__item
									+picture('partner-mosreg', 'png')
								li.partners__item.ticker__item
									span.h4 партнеры
								li.partners__item.ticker__item
									+picture('partner-hanoy', 'png')
			section.gosuslugi
				.gosuslugi__container.container
					.gosuslugi__content
						p.gosuslugi__subtitle Ждем ваших предложений!
						h4.gosuslugi__title Расскажите, как музей может стать лучше?
						button.btn.btn-primary Перейти
					.gosuslugi__pic
						+picture('gosuslugi-logo', 'svg')
			section.section.banner
				.banner__container
					a(href="#").banner__link
						+picture('banner-mosreg')
			section.guest
				.guest__container
					.guest__content 
						.guest__title 
							h2 <span class="c-accent">ощутите</span> себя <span class="c-accent">гостем</span> старинной усадьбы, хозяева которой некоторое время назад <span class="c-accent">покинули</span> свой <span class="c-accent">дом</span>
						.guest__links 
							a.btn.btn--black(href="#").guest__link Виртуальный тур
							span •
							a.btn.btn--black(href="#").guest__link Пушкинская карта
							span •
							a.btn.btn--black(href="#").guest__link коллекции
						.guest__button 
							+btnTicker("grey", "#")
								|• Посетить



