extends ../base

block vars
	-let pageName = 'front-page'
	-let pageTitle = 'Усадьба Мураново'
	-let metaTitle = 'Усадьба Мураново | Главная'
	-let metaDescription = ''
block content
		main.main
			section.top
				.top__container
					.top__content 
						.top__title 
							span Самая
							span.c-accent Честная
							span Усадьба
							span Подмосковья
						.top__links
							a.btn.btn--black.top__link(href="#") Как добраться
							a.btn.btn--black.top__link(href="#") Часы работы
							a.btn.btn--black.top__link(href="#") Цены
							a.btn.btn--black.top__link(href="#") Спланировать посещение
						.top__ticket
							+btnTicker('accent')
								|• Купить билет
			section.section.muranovo
				.muranovo__container
					.muranovo__item
						.muranovo__word
							+picture('word-m', 'svg')
					.muranovo__item
						.muranovo__pic
							+picture('image-01')
					.muranovo__item
						.muranovo__word
							+picture('word-u', 'svg')
					.muranovo__item
						.muranovo__text
							p Посетите усадебный дом в Муранове и познакомитесь с его неповторимой экспозицией
					.muranovo__item
						.muranovo__word
							+picture('word-r', 'svg')
					.muranovo__item
						.muranovo__pic
							+picture('image-02')
					.muranovo__item
						.muranovo__word
							+picture('word-a', 'svg')
					.muranovo__item
						.muranovo__pic
							+picture('image-03')
					.muranovo__item
						.muranovo__word
							+picture('word-n', 'svg')
					.muranovo__item
						.muranovo__pic
							+picture('image-04')
					.muranovo__item
						.muranovo__word
							+picture('word-o', 'svg')
					.muranovo__item
						.muranovo__text.space-between
							p В сопровождении экскурсовода вы окажитесь в атмосфере русского дворянства XIX века, почувствуете себя званым и любимым гостем усадьбы.
							+btnTicker('white', 'about.html')
								|• О музее
					.muranovo__item
						.muranovo__word
							+picture('word-v', 'svg')
					.muranovo__item
						.muranovo__pic
							+picture('image-05')
					.muranovo__item
						.muranovo__word
							+picture('word-o', 'svg')
			section.section.events
				.events__container.container 
					.events__heading 
						h2 Афиша
						+btnTicker('grey', 'about.html')
							|• все События
					ul.events__list
						+eventItem('Выходные в Муранове', '01.06.2024 — 02.06.2024', 'image-21', "#")
							.events__prop.tag.tag--date Выходные
							.events__prop.tag.tag--pushkin 	
							.events__prop.tag.tag--age 3+
						+eventItem('Поэтический концерт для детей и их родителей «Семена добра: Сергей Михалков – детям»', '01.06.2024', 'image-22', "#")
							.events__prop.tag.tag--date Концерт
							.events__prop.tag.tag--pushkin 	
							.events__prop.tag.tag--age 5+
						+eventItem('Выставка «Любимцы муз и вдохновенья. Пушкин и Боратынский»', '06.06.2024', 'image-23', "#")
							.events__prop.tag.tag--date Выставка
							.events__prop.tag.tag--pushkin 	
							.events__prop.tag.tag--age 16+
						+eventItem('Концерт класса арфы Надежды Сергеевой', '09.05.2024', 'image-24', "#")
							.events__prop.tag.tag--date Концерт
							.events__prop.tag.tag--age 16+
			section.section.ad
				.ad__container
					.ad__content
						.ad__item
							a(href="#").ad__link Ночь музеев в Муранове
						.ad__item
							a(href="#").ad__link Фестиваль «Про речь»
			section.section.service
				.service__container 
					.service__pages
						a(href="#").service__block.service__page
							+picture('image-10', 'jpg', 'service__cover')
							h5.service__name семейные программы
						.service__block
							+picture('image-11', 'jpg', 'service__cover')
						a(href="#").service__block.service__page
							+picture('image-20', 'jpg', 'service__cover')
							h5.service__name Экскурсии
						.service__block
							+picture('image-12', 'jpg', 'service__cover')
						.service__block
							+picture('image-17', 'jpg', 'service__cover')
						a(href="#").service__block.service__page
							+picture('image-18', 'jpg', 'service__cover')
							h5.service__name Концерты
						.service__block
							+picture('image-25', 'jpg', 'service__cover')
						a(href="#").service__block.service__page
							+picture('image-16', 'jpg', 'service__cover')
							h5.service__name Усадебный крокет
						a(href="#").service__block.service__page
							+picture('image-15', 'jpg', 'service__cover')
							h5.service__name Фестивали
						.service__block
							+picture('image-14', 'jpg', 'service__cover')
						a(href="#").service__block.service__page
							+picture('image-19', 'jpg', 'service__cover')
							h5.service__name Квесты
						.service__block
							+picture('image-13', 'jpg', 'service__cover')
					.service__content
						.service__heading 
							.service__title.h2 Услуги музея
							.service__links 
								a(href="").service__link Усадьба и парк
								a(href="").service__link Главный дом
								a(href="").service__link Флигель
								a(href="").service__link Храм Спаса Нерукотворного
						.service__more 
							+btnTicker('white', 'service.html')
								|• Все услуги
			section.section.partners
				.partners__container 
					.partners__content.ticker 	
						ul.partners__list.ticker__content
							-for (let i=0; i<19; i++)
								li.partners__item.ticker__item
									span.h4 партнеры
								li.partners__item.ticker__item
									+picture('partner-mkmo', 'png')
								li.partners__item.ticker__item
									span.h4 партнеры
								li.partners__item.ticker__item
									+picture('partner-mosreg', 'png')
								li.partners__item.ticker__item
									span.h4 партнеры
								li.partners__item.ticker__item
									+picture('partner-hanoy', 'png')
			section.section.banner
				.banner__container
					a(href="#").banner__link
						+picture('banner-mosreg')



