extends ../base

block vars
	-let pageName = 'front-page'
	-let pageTitle = 'Усадьба Мураново'
	-let metaTitle = 'Усадьба Мураново | Главная'
	-let metaDescription = ''
block content
		main.main
			section.section.top