extends ../base

block vars
	-let pageName = 'front-page'
	-let pageTitle = 'Усадьба Мураново'
	-let metaTitle = pageTitle + ' | Главная'
	-let metaDescription = ''
block content
		main.main
			section.top
				.top__container
					.top__content 
						.top__title 
							span Самая
							span.c-accent Честная
							span Усадьба
							span Подмосковья
						.top__links
							a.btn.btn--black.top__link(href="#") Как добраться
							a.btn.btn--black.top__link(href="#") Часы работы
							a.btn.btn--black.top__link(href="#") Цены
							a.btn.btn--black.top__link(href="#") Спланировать посещение
						.top__ticket
							+btnTicker('accent')
								|• Купить билет
			section.section.muranovo
				.muranovo__container
					.muranovo__item
						.muranovo__word
							+svg('words', 'm')
					.muranovo__item
						.muranovo__pic
							+picture('image-01')
					.muranovo__item
						.muranovo__word
							+svg('words', 'u')
					.muranovo__item
						.muranovo__text
							p Посетите усадебный дом в Муранове и познакомитесь с его неповторимой экспозицией
					.muranovo__item
						.muranovo__word
							+svg('words', 'r')
					.muranovo__item
						.muranovo__pic
							+picture('image-02')
					.muranovo__item
						.muranovo__word
							+svg('words', 'a')
					.muranovo__item
						.muranovo__pic
							+picture('image-03')
					.muranovo__item
						.muranovo__word
							+svg('words', 'n')
					.muranovo__item
						.muranovo__pic
							+picture('image-04')
					.muranovo__item
						.muranovo__word
							+svg('words', 'o')
					.muranovo__item
						.muranovo__text.space-between
							p В сопровождении экскурсовода вы окажитесь в атмосфере русского дворянства XIX века, почувствуете себя званым и любимым гостем усадьбы.
							+btnTicker('white', 'about.html')
								|• О музее
					.muranovo__item
						.muranovo__word
							+svg('words', 'v')
					.muranovo__item
						.muranovo__pic
							+picture('image-05')
					.muranovo__item
						.muranovo__word
							+svg('words', 'o')
			include ../parts/events-list
			section.section.events
				.events__container.container 
					.events__heading.section__heading
						h2 Афиша
						+btnTicker('grey', 'afisha.html')
							|• все События
					.swiper.swiper-tape
						ul.events__list.swiper-wrapper
							each item in eventsList.slice(0, 4)
								if (item.category == 'Мероприятия' && item.archive == false)
									+eventItem(item.title, item.date, item.image, item.link, item.category, item.pushkincard, item.age, 'swiper-slide')
			section.section.ad
				.ad__container
					.ad__content
						.ad__item
							a(href="#").ad__link Ночь музеев в Муранове
						.ad__item
							a(href="#").ad__link Фестиваль «Про речь»
			section.section.service
				.service__container 
					.service__pages
						a(href="#").service__block.service__page
							+picture('image-10', 'jpg', 'service__cover')
							h5.service__name семейные программы
						.service__block
							+picture('image-11', 'jpg', 'service__cover')
						a(href="#").service__block.service__page
							+picture('image-20', 'jpg', 'service__cover')
							h5.service__name Экскурсии
						.service__block
							+picture('image-12', 'jpg', 'service__cover')
						.service__block
							+picture('image-17', 'jpg', 'service__cover')
						a(href="#").service__block.service__page
							+picture('image-18', 'jpg', 'service__cover')
							h5.service__name Концерты
						.service__block
							+picture('image-25', 'jpg', 'service__cover')
						a(href="#").service__block.service__page
							+picture('image-16', 'jpg', 'service__cover')
							h5.service__name Усадебный крокет
						a(href="#").service__block.service__page
							+picture('image-15', 'jpg', 'service__cover')
							h5.service__name Фестивали
						.service__block
							+picture('image-14', 'jpg', 'service__cover')
						a(href="#").service__block.service__page
							+picture('image-19', 'jpg', 'service__cover')
							h5.service__name Квесты
						.service__block
							+picture('image-13', 'jpg', 'service__cover')
					//- .service__content
					.service__heading 
						.service__title.h2 Услуги музея
						.service__links 
							a(href="#").service__link Усадьба и парк
							a(href="#").service__link Главный дом
							a(href="#").service__link Флигель
							a(href="#").service__link Храм Спаса Нерукотворного
					.service__more 
						+btnTicker('white', 'service.html')
							|• Все услуги
			include ../parts/news-list
			section.section.news
				.news__container.container 
					.news__heading.section__heading
						h2 Новости
						+btnTicker('grey', 'news.html')
							|• все Новости
					.swiper.swiper-tape
						ul.news__list.swiper-wrapper
							each item in newsList.slice(0, 3)
								+newsItem(item.title, item.date, item.image, item.link, item.announce, 'swiper-slide')
			section.section.partners
				.partners__container 
					.partners__content.ticker 	
						ul.partners__list.ticker__content
							-for (let i=0; i<19; i++)
								li.partners__item.ticker__item
									span.h4 партнеры
								li.partners__item.ticker__item
									+picture('partner-mkmo', 'png')
								li.partners__item.ticker__item
									span.h4 партнеры
								li.partners__item.ticker__item
									+picture('partner-mosreg', 'png')
								li.partners__item.ticker__item
									span.h4 партнеры
								li.partners__item.ticker__item
									+picture('partner-hanoy', 'png')
			section.gosuslugi
				.gosuslugi__container.container
					.gosuslugi__content
						p.gosuslugi__subtitle Ждем ваших предложений!
						h4.gosuslugi__title Расскажите, как музей может стать лучше?
						button.btn.btn-primary Перейти
					.gosuslugi__pic
						+picture('gosuslugi-logo', 'svg')
			section.section.banner
				.banner__container
					a(href="#").banner__link
						+picture('banner-mosreg')
			section.guest
				.guest__container
					.guest__content 
						.guest__title 
							h2 <span class="c-accent">ощутите</span> себя <span class="c-accent">гостем</span> старинной усадьбы, хозяева которой некоторое время назад <span class="c-accent">покинули</span> свой <span class="c-accent">дом</span>
						.guest__links 
							a.btn.btn--black(href="#").guest__link Виртуальный тур
							span •
							a.btn.btn--black(href="#").guest__link Пушкинская карта
							span •
							a.btn.btn--black(href="#").guest__link коллекции
						.guest__button 
							+btnTicker("grey", "#")
								|• Посетить



