extends ../base

block vars
	-let pageName = 'museum-page'
	-let pageTitle = 'О музее'
	-let metaTitle = 'О музее | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(`${pageTitle}`)
					h1.pagetop__title= pageTitle
			include ../parts/pages-list
			section.section.category
				.category__container.container
					ul.category__list
						each item in pagesList
							if (item.parent == 'О музее')
								+catItem(item.title, item.name + '.html', item.image)
