extends ../base

block vars
	-let pageName = 'news-page'
	-let pageTitle = 'Новости'
	-let parentPage = 'О музее'
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle, parentPage, 'museum.html')
					h1.pagetop__title= pageTitle
			include ../parts/news-list
			section.section.news
				.news__container.container 
					ul.news__list
						each item in newsList
							+newsItem(item.title, item.date, item.image, item.link, item.announce)
			+seeMore(pageName, parentPage)