extends ../base

block vars
	-let pageName = 'news-page'
	-let pageTitle = 'ะะพะฒะพััะธ'
	-let parentPage = 'ะ ะผัะทะตะต'
	-let metaTitle = 'ะะพะฒะพััะธ | ะฃัะฐะดัะฑะฐ ะััะฐะฝะพะฒะพ'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(`${pageTitle}`, parentPage, 'museum.html')
					h1.pagetop__title= pageTitle
			section.section.news
				.news__container.container 
					ul.news__list
						+newsItem('ะะทะผะตะฝะตะฝะธะต ัะตะถะธะผะฐ ัะฐะฑะพัั ะผัะทะตั', '29.05.2024', 'image-21', "#")
							p ะะพัะพะณะธะต ะณะพััะธ ะผัะทะตั! ะะฑัะฐัะฐะตะผ ะฒะฐัะต ะฒะฝะธะผะฐะฝะธะต, ััะพย๐ ะฒยัะฒัะทะธ ัยะฟัะพะฒะตะดะตะฝะธะตะผ ัะตัะฝะธัะตัะบะธั ัะฐะฑะพั ะผัะทะตะน ะธยััะฐะดะตะฑะฝัะน ะฟะฐัะบ ะทะฐะบัััั 10ยะธย11ยะธัะฝั 2024ยะณะพะดะฐ!
						+newsItem('ะคะพัะพัะตะฟะพััะฐะถ - ะปะธัะตัะฐัััะฝัะน ัะตััะธะฒะฐะปั ยซะัะพ ะะตััยป', '27.05.2024', 'image-26', "#")
							p ๐ ๐ 25ยะผะฐั ะฒยััะฐะดัะฑะต ัะพััะพัะปัั ะฝะพะฒัะน ะปะธัะตัะฐัััะฝัะน ัะตััะธะฒะฐะปั ยซะัะพ ะะตััยป. 
						+newsItem('ยซะะฝะฝะพะฒะฐัะธะธ ะธ ััะฐะดะธัะธะธ ะผะพะณัั ะฟัะตะบัะฐัะฝะพ  ัะพัััะตััะฒะพะฒะฐััยป', '20.05.2024', 'image-12', "#")
							p ะัะทะตะน-ะทะฐะฟะพะฒะตะดะฝะธะบ ยซะฃัะฐะดัะฑะฐ โะััะฐะฝะพะฒะพโยป ะธยIPQuorumยัะพะฒะผะตััะฝะพ ัยะะพััะธะนัะบะธะผ ะณะพััะดะฐัััะฒะตะฝะฝัะผ ััะดะพะถะตััะฒะตะฝะฝะพ-ะฟัะพะผััะปะตะฝะฝัะผ ัะฝะธะฒะตััะธัะตัะพะผ ะธะผะตะฝะธ ะก.ะ.ยะกััะพะณะฐะฝะพะฒะฐ ะฟัะพะฒะพะดัั ะพัะธััะพะฒะบั ัะฐััะธ ัะบัะฟะพะฝะฐัะพะฒ ะธะทยะผัะทะตะนะฝะพะณะพ ัะพะฑัะฐะฝะธั. 
						+newsItem('ะะทะผะตะฝะตะฝะธะต ัะตะถะธะผะฐ ัะฐะฑะพัั ะผัะทะตั', '29.05.2024', 'image-21', "#")
							p ะะพัะพะณะธะต ะณะพััะธ ะผัะทะตั! ะะฑัะฐัะฐะตะผ ะฒะฐัะต ะฒะฝะธะผะฐะฝะธะต, ััะพย๐ ะฒยัะฒัะทะธ ัยะฟัะพะฒะตะดะตะฝะธะตะผ ัะตัะฝะธัะตัะบะธั ัะฐะฑะพั ะผัะทะตะน ะธยััะฐะดะตะฑะฝัะน ะฟะฐัะบ ะทะฐะบัััั 10ยะธย11ยะธัะฝั 2024ยะณะพะดะฐ!
						+newsItem('ะคะพัะพัะตะฟะพััะฐะถ - ะปะธัะตัะฐัััะฝัะน ัะตััะธะฒะฐะปั ยซะัะพ ะะตััยป', '27.05.2024', 'image-26', "#")
							p ๐ ๐ 25ยะผะฐั ะฒยััะฐะดัะฑะต ัะพััะพัะปัั ะฝะพะฒัะน ะปะธัะตัะฐัััะฝัะน ัะตััะธะฒะฐะปั ยซะัะพ ะะตััยป. 
						+newsItem('ยซะะฝะฝะพะฒะฐัะธะธ ะธ ััะฐะดะธัะธะธ ะผะพะณัั ะฟัะตะบัะฐัะฝะพ  ัะพัััะตััะฒะพะฒะฐััยป', '20.05.2024', 'image-12', "#")
							p ะัะทะตะน-ะทะฐะฟะพะฒะตะดะฝะธะบ ยซะฃัะฐะดัะฑะฐ โะััะฐะฝะพะฒะพโยป ะธยIPQuorumยัะพะฒะผะตััะฝะพ ัยะะพััะธะนัะบะธะผ ะณะพััะดะฐัััะฒะตะฝะฝัะผ ััะดะพะถะตััะฒะตะฝะฝะพ-ะฟัะพะผััะปะตะฝะฝัะผ ัะฝะธะฒะตััะธัะตัะพะผ ะธะผะตะฝะธ ะก.ะ.ยะกััะพะณะฐะฝะพะฒะฐ ะฟัะพะฒะพะดัั ะพัะธััะพะฒะบั ัะฐััะธ ัะบัะฟะพะฝะฐัะพะฒ ะธะทยะผัะทะตะนะฝะพะณะพ ัะพะฑัะฐะฝะธั. 
			+seeMore(pageName, parentPage)