extends ../base

block vars
	-let pageName = 'objects-page'
	-let pageTitle = 'Объекты музея'
	-let parentPage = 'О музее'
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle, parentPage, 'museum.html')
					h1.pagetop__title= pageTitle