extends ../base

block vars
	-let pageName = 'policy-page'
	-let pageTitle = 'Политика обработки и защиты персональных данных'
	-let parentPage = ''
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle)
					h1.h3.pagetop__title= pageTitle
			section.section.policy
				.policy__container.container.container--bg-fill
					.policy__content.background-fill 	
						.user-content.narrow-content
							p <span class="text-uppercase"><strong>1. ОБЩИЕ ПОЛОЖЕНИЯ</strong></span>
							br
							p 1.1. Настоящая Политика определяет порядок обработки и защиты персональных данных в Государственном автономном учреждении культуры Московской области «Объединенный мемориально-художественный музей-заповедник «Усадьба «Мураново» имени Ф.И. Тютчева и народных художественных промыслов «Усадьба Лукутиных», (далее - Музей-заповедник «Мураново»), с целью защиты прав и свобод человека, и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
							p Политика обработки персональных данных разработана в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных» (далее — Федеральный закон №152-ФЗ).
							p 1.2. Действие Политики распространяется на все персональные данные субъектов, обрабатываемые в информационных системах персональных данных Музея-заповедника «Мураново» с применением средств автоматизации и без применения таких средств.
							p 1.3. К настоящей Политике должен иметь доступ любой субъект персональных данных.
							br
							p <span class="text-uppercase"><strong>2. Принципы и условия обработки персональных </span>данных</strong>
							br
							p 2.1. Обработка персональных данных в информационных системах персональных данных Музея-заповедника  «Мураново» осуществляется на основе следующих принципов:
							ul
								li законности и справедливой основы;
								li ограничения обработки персональных данных достижением конкретных, заранее определённых и законных целей;
								li недопущения обработки персональных данных, несовместимой с целями сбора персональных данных;
								li недопущения объединения баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой;
								li обработки только тех персональных данных, которые отвечают целям их обработки;
								li соответствия содержания и объёма обрабатываемых персональных данных заявленным целям обработки;
								li недопущения обработки избыточных персональных данных по отношению к заявленным целям их обработки;
								li обеспечения точности, достаточности и актуальности персональных данных по отношению к целям обработки персональных данных;
								li уничтожения либо обезличивания персональных данных по достижении целей их обработки или в случае утраты необходимости в достижении этих целей, при невозможности устранения в информационных системах персональных данных Музея-заповедника «Мураново», допущенных нарушений персональных данных, если иное не предусмотрено федеральным законом.
							p 2.2. В информационных системах персональных данных Музея-заповедника «Мураново» обрабатываются персональные данные при наличии хотя бы одного из следующих условий:
							ul
								li обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных;
								li обработка персональных данных необходима для достижения целей, предусмотренных законом, для осуществления и выполнения, возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей;
								li обработка персональных данных необходима для исполнения полномочий Музея-заповедника «Мураново», предусмотренных Федеральным законом от 27.07.2010 № 210-ФЗ «Об организации предоставления государственных и муниципальных услуг», включая регистрацию субъекта персональных данных на Региональном портале государственных и муниципальных услуг Московской области;
								li обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем, по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;
								li обработка персональных данных необходима для осуществления прав и законных интересов Музея-заповедника «Мураново» или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных;
								li осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе;
								li осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с законодательством Российской Федерации.
							p 2.3. Пользователи информационных системах персональных данных Музея-заповедника «Мураново» и иные лица, получившие доступ к персональным данным, обязаны не раскрывать третьим лицам и не распространять персональные данные без согласия субъекта персональных данных, если иное не предусмотрено законодательством Российской Федерации.
							p 2.4. В целях информационного обеспечения в Музее-заповеднике «Мураново» могут создаваться общедоступные источники персональных данных работников, в том числе справочники и адресные книги. В общедоступные источники персональных данных с согласия работника могут включаться его фамилия, имя, отчество, дата и место рождения, должность, номера контактных телефонов, адрес электронной почты, сведения о профессии и иные персональные данные, сообщаемые субъектом персональных данных.
							p Сведения о работнике должны быть в любое время исключены из общедоступных источников персональных данных по требованию работника либо по решению суда или иных уполномоченных государственных органов.
							p 2.5. Музей-заповедник «Мураново» вправе поручить обработку персональных данных другому лицу с согласия субъекта персональных данных, если иное не предусмотрено федеральным законом, на основании заключаемого с этим лицом договора. Лицо, осуществляющее обработку персональных данных по поручению Музея-заповедника «Мураново», обязано соблюдать принципы и правила обработки персональных данных, предусмотренные федеральным законом.
							p 2.6. Обработка в информационных системах персональных данных Музея-заповедника «Мураново» специальных категорий персональных данных допускается в случаях, если:
							ul
								li субъект персональных данных дал согласие в письменной форме на обработку своих персональных данных;
								li осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе;
								li обработка персональных данных осуществляется в соответствии с законодательством о государственной социальной помощи, трудовым законодательством, пенсионным законодательством Российской Федерации
								li обработка персональных данных необходима для защиты жизни, здоровья или иных жизненно важных интересов субъекта персональных данных либо жизни, здоровья или иных жизненно важных интересов других лиц и получение согласия субъекта персональных данных невозможно;
								li обработка персональных данных необходима для установления или осуществления прав субъекта персональных данных или третьих лиц, а равно и в связи с осуществлением правосудия;
								li обработка персональных данных осуществляется в соответствии с законодательством Российской Федерации об обороне, о безопасности, о противодействии терроризму, о транспортной безопасности, о противодействии коррупции, об оперативно-розыскной деятельности, об исполнительном производстве, уголовно-исполнительным законодательством Российской Федерации.
							p Обработка специальных категорий персональных данных должна быть незамедлительно прекращена, если устранены причины, вследствие которых осуществлялась их обработка, если иное не установлено федеральным законом.
							p 2.7. Трансграничная передача персональных данных на территорию иностранных государств Музеем-заповедником «Мураново» не осуществляется.
							br
							p <span class="text-uppercase"><strong>3. Права субъекта персональных данных</strong></span>
							br
							p 3.1. Субъект персональных данных имеет право на получение информации, касающейся обработки его персональных данных, если такое право не ограничено в соответствии с федеральными законами. Субъект персональных данных вправе требовать от Музея-заповедника «Мураново» уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.
							p Запрещается принятие на основании исключительно автоматизированной обработки персональных данных решений, порождающих юридические последствия в отношении субъекта персональных данных или иным образом затрагивающих его права и законные интересы, за исключением случаев, предусмотренных федеральными законами, или при наличии согласия в письменной форме субъекта персональных данных.
							p 3.2. Если субъект персональных данных считает, что обработка его персональных данных в информационных системах персональных данных Министерства культуры Московской области осуществляется с нарушением требований Федерального закона № 152-ФЗ или иным образом нарушает его права и свободы, субъект персональных данных вправе обжаловать действия или бездействие Музея-заповедника  «Мураново» в Уполномоченном органе по защите прав субъектов персональных данных или в судебном порядке.
							br
							p <span class="text-uppercase"><strong>4. Обеспечение безопасности персональных данных</strong></span>
							br
							p 4.1. Безопасность персональных данных, обрабатываемых в информационных системах персональных данных Музея-заповедника  «Мураново», обеспечивается реализацией правовых, организационных, и технических мер, необходимых и достаточных для обеспечения требований федерального законодательства в области защиты персональных данных.
							p 4.2. Для целенаправленного создания в информационных системах персональных данных Музея-заповедника  «Мураново» неблагоприятных условий и труднопреодолимых препятствий для нарушителей, пытающихся осуществить несанкционированный доступ к персональным данным в целях овладения ими, их видоизменения, уничтожения, заражения вредоносной компьютерной программой, подмены и совершения иных несанкционированных действий в информационных системах персональных данных Музея-заповедника  «Мураново» могут применяться следующие организационно ­технические меры:
							ul
								li назначение должностных лиц, ответственных за организацию обработки и защиты персональных данных;
								li ограничение и регламентация состава работников, имеющих доступ к персональным данным;
								li ознакомление работников с требованиями федерального законодательства и нормативных документов Музея-заповедника «Мураново» по обработке и защите персональных данных;
								li обеспечение учёта и хранения материальных носителей информации и их обращения, исключающего хищение, подмену, несанкционированное копирование и уничтожение;
								li определение угроз безопасности персональных данных при их обработке, формирование на их основе моделей угроз;
								li разработка на основе модели угроз системы защиты персональных данных для соответствующего класса информационных систем;
								li проверка готовности и эффективности использования средств защиты информации;
								li идентификация и аутентификация субъектов доступа и объектов доступа;
								li управление доступом субъектов доступа к объектам доступа;
								li ограничение программной среды;
								li защита машинных носителей персональных данных;
								li регистрация событий безопасности;
								li антивирусная защита;
								li обнаружение и предотвращение вторжений;
								li контроль (анализ) защищённости персональных данных;
								li обеспечение целостности информационной системы и персональных данных;
								li обеспечение доступности персональных данных;
								li защита технических средств;
								li защита информационной системы, ее средств, систем связи и передачи персональных данных;
								li криптографическая защита персональных данных, передаваемых по незащищённым каналам связи;
								li управление системой защиты персональных данных;
								li обучение работников, использующих средства защиты информации, применяемые в информационных системах персональных данных, правилам работы с ними;
								li учёт применяемых средств защиты информации, эксплуатационной и технической документации к ним;
								li проведение мониторинга действий пользователей, проведение разбирательств по фактам нарушения требований безопасности персональных данных;
								li размещение технических средств обработки персональных данных, в пределах охраняемой территории;
								li допуск в помещения, в которых обрабатываются персональные данных, в соответствии со списком допущенных сотрудников;
								li поддержание технических средств охраны, сигнализации помещений в состоянии постоянной готовности.
							br
							p <span class="text-uppercase"><strong>5. Заключительные положения</strong></span>
							br
							p 5.1. Иные права и обязанности Музея-заповедника «Мураново», как оператора персональных данных, определяются законодательством Российской Федерации в области персональных данных.
							p Должностные лица Музея-заповедника «Муранов», виновные в нарушении норм, регулирующих обработку и защиту персональных данных, несут ответственность в порядке, установленном федеральными законами.