extends ../base

block vars
	-let pageName = 'programs-page'
	-let pageTitle = 'Программы'
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle)
					h1.h2.pagetop__title= pageTitle
				.pagetop__tabs.tabs.container.scroll-layer
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="current") Действующие
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="archive") Архив
			section.section.events
				include ../parts/events-list
				.events__container.container
					ul.events__list.events__body.tab-body#current
						each item in eventsList
							if (item.category == 'Программы' && item.archive == false)
								+eventItem(item.title, item.date, item.image, item.link, item.category, item.pushkincard, item.age)
					ul.events__list.events__body.tab-body#archive
						each item in eventsList
							if (item.category == 'Программы' && item.archive == true)
								+eventItem(item.title, item.date, item.image, item.link, item.category, item.pushkincard, item.age)