extends ../base

block vars
	-let pageName = 'pushkin-card-page'
	-let pageTitle = 'Пушкинская карта'
	-let parentPage = 'Посетителям'
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle, parentPage, 'visitors.html')
					h1.h2.pagetop__title= pageTitle
			section.section.pushkincard
				.pushkincard__container.container.container--bg-fill
					.pushkincard__content.background-fill 	
						.user-content.narrow-content
							p Напоминаем вам об уникальной возможности оплатить посещение музея, а также все музейные программы «Пушкинской картой»! На карте есть пять тысяч рублей, доступных для того, чтобы побывать на мероприятиях в театрах, музеях, библиотеках и домах культуры Подмосковья.
							p <strong>Получить «Пушкинскую карту» могут молодые люди от 14 до 22 лет включительно. Для этого нужно:</strong>
							ul
								li зарегистрироваться на портале «Госуслуги»;
								li подтвердить учетную запись;
								li установить мобильное приложение «Госуслуги.Культура»;
								li авторизоваться в приложении «Госуслуги.Культура», запросить оформление карты;
								li подтвердить выпуск карты в приложении и сделать селфи;
								li зайти на афишу («Культура.рф», «Госуслуги.Культура» или сайт учреждения) и выбрать мероприятие;
								li 
									p <button class="btn btn-link">купить билет</button> на сайте или в кассе;
								li прийти на мероприятие с паспортом.
							p Те, кто предпочитает носить карту в кошелке, могут оформить ее в любом отделении «Почта Банка».
							br
							p Заходи на портал Культура.рф и выбирай, какое мероприятие музея ты хочешь посетить по «Пушкинской карте»! Мы ждём тебя!
							.highlight.highlight--brownback
								h4 Мы будем признательны
								p При планировании посещений по Пушкинской карте просим информировать экскурсионный отдел по телефону: +7 (985) 317-38-98 
			+seeMore(pageName, parentPage)