extends ../base

block vars
	-let pageName = 'search-page'
	-let pageTitle = 'Результаты поиска'
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle)
					h1.h2.pagetop__title= pageTitle
			section.section.search
				.search__container.container
					form.search__form#toform
						fieldset.search__fieldset
							input.search__input(type="search" placeholder="Найти...")
							button.clear-btn(type="button")
					.search__results
						.search__results-content
							ul.search__results-list
								- for(let i=0; i<10; i++)
									li.search__results-item 
										a.search__results-link(href=`${sitePath}single-event.html`)
											span.search__results-group Афиша
											p.search__results-title Творческое пространство-выставка «Стекло на траве» в Муранове
							.search__results-show
								button.btn.btn-primary#search-showmore Показать все результаты (10)
						.search__results-nothing 
							p К сожалению, ничего не найдено. Проверьте, что все слова написаны без ошибок, либо попробуйте более простые поисковые запросы.