extends ../base

block vars
	-let pageName = 'single-event-page'
	-let pageTitle = 'Масленница в Муранове'
	-let parentPage = 'Мероприятия'
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop.pagetop--breadcrumps
				.container
					+breadcrumps(`${pageTitle}`, parentPage, 'events.html')
			section.section.event
				.event__container.container
					.event__inner
						.narrow-content.event__content
							.event__backlink 
								a(href=`${sitePath}events.html`) К мероприятиям
							h1.event__heading.h3= pageTitle
							.event__image 	
								+picture('image-71', 'jpg', false, false, true)
							h4.event__subtitle О мероприятии
							.event__detail.user-content
								p Масленица — традиционный русский праздник. В Муранове он длится два дня. Помимо концертов фольклорных коллективов из Москвы и Подмосковья на территории усадьбы проходят тематические мастер-классы в различных техниках, исторические реконструкции, анимационные программы.
								p Не обходится этот праздник и без катания на лошадях и сибирских хаски.
								p Органичным вливанием в атмосферу праздника являются театрализованные экскурсии по кухне с рассказом о старинных кулинарных рецептах.
								p Многим Мурановская Масленица знакома еще с 2004 года, когда число гостей мероприятия составило 150 человек и вот их уже более трёх тысяч!
								p <strong>Ежегодно гостей фестиваля ждут:</strong>
								ul
									li яркие выступления фольклорных коллективов Москвы и Подмосковья;
									li шумная ярмарка, с продажей изделий народных промыслов;
									li исторические реконструкции;
									li традиционные мастер-классы;
									li катание на лошадях и хаски;
									li тематические и костюмированные экскурсии;
									li творческие мастер-классы;
									li чай с блинами и пирогами и многое другое!
								p Если вы любите русскую зиму, хотите побывать в атмосфере празднования традиционной масленицы, готовы участвовать в старинных русских забавах, петь и плясать без устали - приезжайте в Мураново.
								p Приглашаем вас на свежий воздух, в подмосковную деревню повеселиться с близкими, друзьями, коллегами – погулять, поиграть, познакомиться с бытом старинной дворянской усадьбы.
							.event__gallery
								h4.event__gallery-title Как это было
								.swiper.swiper-tape.event__gallery-slider
									.swiper-wrapper.event__gallery-list
										+picture('image-71', 'jpg', 'event__gallery-slide', false, true, 'event')
										+picture('image-71', 'jpg', 'event__gallery-slide', false, true, 'event')
										+picture('image-71', 'jpg', 'event__gallery-slide', false, true, 'event')
							.event__common.user-content
								h4 Информация о празднике
								p Масленица в Муранове проходит каждую зиму. Следите за анонсом и билетами на сайте в афише!
							include ../parts/event-inner-links
			+seeMore(pageName, parentPage, 'events')