extends ../base

block vars
	-let pageName = 'single-object-page'
	-let pageTitle = 'Главный усадебный дом'
	-let parentPage = 'О музее'
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop.pagetop--breadcrumps
				.container
					+breadcrumps(`${pageTitle}`, parentPage, 'events.html')
			section.section.detail
				.detail__container.container.container--bg-fill
					.detail__inner
						.narrow-content.detail__content
							.detail__backlink 
								a(href=`${sitePath}objects.html`) Ко всем объектам
							h1.detail__heading.h3= pageTitle
							.detail__image 	
								+picture('image-55', 'jpg', false, 'Главный усадебный дом', false)
							h4.detail__subtitle Об объекте
							.detail__detail.user-content
								p Усадебный дом в Муранове, который был построен в 1841–1842 годах по замыслам и чертежам поэта Е.А. Боратынского.  В рукописном отделе Пушкинского дома Российской Академии Наук в          Санкт-Петербурге хранятся архитектурные наброски Боратынского, отражающие его первоначальные планы относительно нового мурановского дома.
								p По словам друга и свояка Боратынского Н.В. Путяты, поэт «любил архитектуру, имел в ней вкус, делал сам планы строениям и приводил их в исполнение под своим надзором».
								p Построенный им в Муранове дом разместился западнее старого дома Энгельгардтов, всего в 25 метрах от него. (Старый одноэтажный дом был построен в конце 1760-х годов, к моменту строительства нового он значительно обветшал — ему было уже около 80-ти лет,  и потому старый дом был упразднен).
								p Новый усадебный дом строился артелью наёмных рабочих. На время строительства семья поэта переехала в соседнее имение М.А. Пальчиковой — Артёмово, расположенное в трёх верстах от Муранова.
								p В июле 1842 года Боратынский писал Н.В. Путяте: 
								+quote
									|«Из всех хозяйственных дел нет сложнее и заботливее стройки»
								p А в конце лета 1842-го он пишет из Артёмова матери: 
								+quote
									|«За год, что я провел здесь, я построил пильную мельницу, превратил в доски и дрова 25 арпанов леса (арпан ― старинная французская едицица измерения площади, равная примерно 3424,59 м2) и почти достроил дом. Новый дом в Мураново уже под крышей и уже оштукатурен внутри. Осталось настлать полы, навесить двери и вставить оконные рамы… Надеюсь, к концу августа в доме уже можно будет жить».
								p В начале зимы Боратынский сообщает, что дом получился «красивый, удобный», но въехали в него ещё с недоделками. Поэт пишет Н.В. Путяте: 
								+quote 
									|«Слава Богу, дом хорош, очень тепел. Были большие морозы и сильные ветры: мы не чувствовали ни тех ни других, и что в особенности редко в деревенских домах ― никогда не знали, с какой стороны непогода. <…> Дом отделан вполне: в два полных этажа, стены общекатурены, полы выкрашены, крыт железом».
								p В архитектуре дома прослеживаются как классицистические тенденции, так и новые романтические веяния; его планировка носит все признаки комфорта и продуманности в расположении и назначении внутренних помещений. Стилистически усадебный дом относится к периоду истории русской архитектуры, когда на смену строгому классицизму приходит романтизм. В архитектуре дома просматриваются элементы нескольких архитектурных стилей: англо-романтического стиля, классицизма и русского стиля.
								p Дом состоит из трёх основных частей — двухэтажного основного здания, одноэтажной пристройки и двухэтажной на подклете башни. Наружные стены основного здания и башни комбинированные: они состоят из вертикально поставленных брёвен, заключённых в деревянную обвязку и соединённых металлическими штырями. Снаружи стены обложены кирпичом. Центральная часть дома увенчана восьмигранным фонарём — бельведером без окон, свет проникал внутрь через двухскатный стеклянный фонарь. С южной стороны располагался «зимний сад», которым завершалась южная анфилада комнат, идущая от Прихожей до Малой столовой (ныне Библиотечной комнаты). Зимний сад был ликвидирован во второй половине ХIX века. Тогда же переделана двухскатная крыша и перестроен световой барабан. В процессе эксплуатации дом неоднократно реконструировался. В 1908 году, при Иване Фёдоровиче Тютчеве, он был оштукатурен.
								p Тщательно продуманная внутренняя планировка подчинена требованиям удобства. Первый этаж основного здания делится пополам центральным залом, с двумя эркерами с южной и северной сторон, с балконными дверьми на первом этаже, выходящими на открытые террасы (балконы). Второй этаж с анфиладой комнат полностью повторяет планировку первого. Одноэтажная пристройка предназначалась для слуг и хозяйственной части (кухня, буфетная и т.п). Служебное назначение пристройки отразилось на планировке: в ней принята коридорная система.
								p Посетив Мураново впервые после смерти Боратынского, Путята писал жене: 
								+quote
									|«Тут всё живо напоминает покойного Евгения. Все носит свежие следы его работ, его дум, его предположений на будущее… Дом в Муранове прелесть, особенно внутреннее расположение. Оригинально и со вкусом».
								p В 1950–1952 годах в Главном доме проводились реставрационные работы (архитектор Н.А. Зеленкова); позже — в 1958 году (архитектор Н.И. Иванов). В 1967 году была проведена частичная замена кирпичной облицовки фасадов, восстановлена штукатурка, оконные наличники, карнизы (архитектор Н.Д. Недович).
								p В 1983–1996 годах проведена большая реставрация здания Трестом «Мособлстойреставрация» (архитектор И.А. Леваков).
								p После пожара в июле 2006 года в доме производились реставрационные  работы, завершённые в 2010 году. Внешний облик здания  и его планировочная структура сохранились на последний период существования усадьбы — 1907–1908 годы. (В эти годы при И.Ф. Тютчеве в доме был проведён самый крупный ремонт).
							.detail__gallery
								.swiper.swiper-tape.detail__gallery-slider
									.swiper-wrapper.detail__gallery-list
										+picture('image-55', 'jpg', 'detail__gallery-slide', false, true, 'event')
										+picture('image-56', 'jpg', 'detail__gallery-slide', false, true, 'event')
										+picture('image-55', 'jpg', 'detail__gallery-slide', false, true, 'event')
							.highlight.highlight--accentback
								.user-content
									h4 Информация о посещении
									p В Главный усадебный дом можно попасть, купив билеты на нашем сайте или кассе музея. Со всеми актуальными ценами можно ознакомиться на странице 
										a(href=`${sitePath}preparation.html?t=cost`) Стоимость услуг.
								+btnTicker('white', "#")
									|• Купить билет
			+seeMore(pageName, parentPage)

