extends ../base

block vars
	-let pageName = 'sitemap-page'
	-let pageTitle = 'Карта сайта'
	-let parentPage = ''
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle)
					h1.h2.pagetop__title= pageTitle
			section.section.sitemap
				.sitemap__container.container 	
					.sitemap__content.background-fill
						.user-content.narrow-content 	
							p
								a(href= sitePath target='_blank') Главная
							h5 
								a(href= sitePath + 'museum.html' target='_blank').link О музее
							ul 
								li 
									a(href= sitePath + 'owners.html' target='_blank') Владельцы 
								li 
									a(href= sitePath + 'about.html' target='_blank') О музее 
								li 
									a(href= sitePath + 'documents.html' target='_blank') Документы
								li 
									a(href= sitePath + 'news.html' target='_blank') Новости
								li 
									a(href= sitePath + 'single-news.html' target='_blank') Шаблон новости
								li 
									a(href= sitePath + 'collections.html' target='_blank') Коллекции
								li 
									a(href= sitePath + 'objects.html' target='_blank') Объекты музея
							br
							h5 
								a(href= sitePath + 'afisha.html' target='_blank').link Афиша
							ul 
								li 
									a(href= sitePath + 'events.html' target='_blank') Мероприятия
								li 
									a(href= sitePath + 'programs.html' target='_blank') Программы
								li 
									a(href= sitePath + 'single-event.html' target='_blank') Шаблон мероприятия
								li 
									a(href= sitePath + 'single-program.html' target='_blank') Шаблон программы
							br
							h5 
								a(href= sitePath + 'visitors.html' target='_blank').link Посетителям
							ul 
								li 
									a(href= sitePath + 'preparation.html' target='_blank') Подготовка к визиту
								li 
									a(href= sitePath + 'inclusive.html' target='_blank') Инклюзивный музей
								li 
									a(href= sitePath + 'pushkin-card.html' target='_blank') Пушкинская карта
								li 
									a(href= sitePath + 'faq.html' target='_blank') Частые вопросы
							br
							h5 
								a(href= sitePath + 'contacts.html' target='_blank').link Контакты 
							br
							h5 Остальные
							ul 
								li 
									a(href= sitePath + 'search.html' target='_blank') Результаты поиска
									span  (в разработке)
								li 
									a(href= sitePath + '404.html' target='_blank') 404 
								li 
									a(href= sitePath + 'policy.html' target='_blank') Политика конфидициальности 
									span  (нет дизайна)

