// Цвета
$c-accent: #c25b3c;
$c-accent-hover: #b71400;
$c-orangelight: #e6886b;
$c-theme-brown: #72665b; // #FF72665b
$c-theme-gray: #818b94;
$c-white: #fbfbfb;
$c-text: #1d1d1b;
$c-background-gray-accent: #f4f5f7;

// Макет
$transition-base: 0.2s ease;
$transition-middle: 0.4s ease;
$p-clamp: clamp(1rem, 0.1964rem + 3.5714vw, 3.125rem);
$animation-duration-base: 0.8s;
$animation-duration-middle: 1.2s;
$animation-duration-long: 1.6s;

// Шрифты
$f-baron: "BaronNeue", sans-serif;
$f-com: "Commissioner", sans-serif;

// Медиа-запросы
$l-b: "max-width: 1400px";
$l-m: "max-width: 1200px";
$l-s: "max-width: 1024px";
$t: "max-width: 860px";
$p-b: "max-width: 767px";
$p-m: "max-width: 480px";
$p-s: "max-width: 360px";

@mixin last-child {
	&:last-child {
		margin: 0;
	}
}

// d: 110, m: 42
@mixin h1 {
	font-family: $f-baron;
	font-weight: 700;
	line-height: 1.1;
	font-size: clamp(2.625rem, 1.2083rem + 6.2963vw, 6.875rem);
	text-transform: uppercase;
}

// d: 80, m: 40
@mixin h2 {
	font-family: $f-baron;
	font-weight: 700;
	line-height: 1.2;
	font-size: clamp(2.5rem, 1.6667rem + 3.7037vw, 5rem);
	text-transform: uppercase;
}

@mixin h3 {
	font-family: $f-baron;
	font-weight: 700;
	line-height: 1.2;
	font-size: 60px;
}

// d: 40, m: 24
@mixin h4 {
	font-family: $f-baron;
	font-weight: 700;
	line-height: 1.2;
	font-size: clamp(1.5rem, 1.1667rem + 1.4815vw, 2.5rem);
}

@mixin h5 {
	font-family: $f-baron;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
}

@mixin p3 {
	font-family: $f-com;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.2;
}
