-
	let eventsList = [
		{
			category: 'Мероприятия',
			group: 'Праздники',
			title: 'Масленица в Муранове',
			date: '01.06.2024 — 02.06.2024',
			link: '#',
			image: 'image-38',
			age: '7',
			pushkincard: true,
			archive: false,
		},
		{
			category: 'Мероприятия',
			group: 'Праздники',
			title: 'Ежегодный фестиваль дворянской культуры «Талица» (В рамках Дня Подмосковной усадьбы)',
			date: '01.06.2024',
			link: '#',
			image: 'image-39',
			age: '0',
			pushkincard: true,
			archive: false,
		},
		{
			category: 'Мероприятия',
			group: 'Праздники',
			title: 'Фольклорный фестиваль «Сенокос в Муранове»',
			date: '06.06.2024',
			link: '#',
			image: 'image-40',
			age: '16',
			pushkincard: true,
			archive: false,
		},
		{
			category: 'Мероприятия',
			group: 'Праздники',
			title: 'Гастрономический фестиваль «День варенья»',
			date: '09.06.2024',
			link: '#',
			image: 'image-41',
			age: '7',
			pushkincard: false,
			archive: false,
		},
		{
			category: 'Мероприятия',
			group: 'Праздники',
			title: 'Гастрономический фестиваль «Аксаковская уха»',
			date: '09.05.2024',
			link: '#',
			image: 'image-42',
			age: '16',
			pushkincard: false,
			archive: false,
		},
		{
			category: 'Мероприятия',
			group: 'Экскурсии',
			title: 'Экскурсия 1',
			date: '09.05.2024',
			link: '#',
			image: 'image-42',
			age: '16',
			pushkincard: false,
			archive: false,
		},
		{
			category: 'Программы',
			group: '',
			title: 'Субботний крокет',
			date: 'Каждая суббота и воскресение',
			link: '#',
			image: 'image-38',
			age: '7',
			pushkincard: true,
			archive: false,
		},
		{
			category: 'Программы',
			group: '',
			title: 'Зимние праздники в усадьбе Мураново',
			date: 'Суббота-Воскресение',
			link: '#',
			image: 'image-39',
			age: '0',
			pushkincard: true,
			archive: false,
		},
		{
			category: 'Программы',
			group: '',
			title: 'Тематические усадебные квесты',
			date: 'Суббота-Воскресение',
			link: '#',
			image: 'image-40',
			age: '16',
			pushkincard: true,
			archive: false,
		},
		{
			category: 'Программы',
			group: '',
			title: 'Гастрономический фестиваль «День варенья»',
			date: 'Среда-Воскресение',
			link: '#',
			image: 'image-41',
			age: '7',
			pushkincard: false,
			archive: false,
		},
		{
			category: 'Программы',
			group: '',
			title: 'Еженедельная программа «Выходные в Муранове»',
			date: 'Летом каждое Воскресение',
			link: '#',
			image: 'image-42',
			age: '16',
			pushkincard: false,
			archive: false,
		},
		{
			category: 'Программы',
			group: '',
			title: 'Прошедшая программа',
			date: 'Летом каждое Воскресение',
			link: '#',
			image: 'image-42',
			age: '16',
			pushkincard: false,
			archive: true,
		},
		{
			category: 'Выставки',
			group: '',
			title: 'Выставка 1',
			date: '06.10.2024',
			link: '#',
			image: 'image-06',
			age: '12',
			pushkincard: false,
			archive: false,
		},
		{
			category: 'Концерты',
			group: '',
			title: 'Концерт 1',
			date: '06.02.2024',
			link: '#',
			image: 'image-24',
			age: '12',
			pushkincard: false,
			archive: false,
		},
		{
			category: 'Экскурсии',
			group: '',
			title: 'Экскурсия 1',
			date: '06.02.2024',
			link: '#',
			image: 'image-07',
			age: '16',
			pushkincard: true,
			archive: false,
		},
		{
			category: 'Детям',
			group: '',
			title: 'Детское мероприятие 1',
			date: '06.02.2024',
			link: '#',
			image: 'image-22',
			age: '0',
			pushkincard: true,
			archive: false,
		},
		{
			category: 'Мероприятия',
			group: '',
			title: 'Прошедшее мероприятие 1',
			date: '06.02.2024',
			link: '#',
			image: 'image-04',
			age: '0',
			pushkincard: true,
			archive: true,
		},
		{
			category: 'Экскурсии',
			group: '',
			title: 'Прогулка с потомком Фёдора Тютчева',
			date: 'По заказу',
			link: '#',
			image: 'image-26',
			age: '16',
			pushkincard: true,
			archive: false,
		},
	]