ul.event__links
	li.event__link.event__link--pushkin
		.event__link-text
			p 
				a(href=`${sitePath}pushkin-card.html`) «Пушкинская карта» 
				| – бесплатный доступ в мир искусства!
		.event__link-icon
			+picture('image-36', 'png')
	li.event__link.event__link--tg
		.event__link-text
			p 
				a(href="https://t.me/muranovo_museum" target="_blank") Подпишитесь <br>
				| на канал и будьте в курсе программ и мероприятий музея
		.event__link-icon
			+picture('icons/icon-tg-fill', 'png')
	li.event__link.event__link--service
		.event__link-text
			p Узнайте подробнее об услугах музея
			a(href="tel:+79853173898") +7 (985) 317-38-98