ul.detail__links
	li.detail__link.detail__link--goscatalog
		.detail__link-text
			h4 ХОТИТЕ УВИДЕТЬ БОЛЬШЕ?
			p Посетите нашу страничку в госкаталоге, чтобы увидеть больше предметов коллекции нашего музея
		.detail__link-button 	
			+btnTicker('brown', "https://goskatalog.ru/portal/#/collections?museumIds=2011", 'btn--baron')
				|• В ГОСКАТАЛОГ
		.detail__link-icon
			+picture('image-92', 'png')
		