-
	let newsList = [
		{
			title: 'Изменение режима работы музея',
			date: '29.05.2024',
			announce: 'Дорогие гости музея! Обращаем ваше внимание, что 🔔 в связи с проведением технических работ музей и усадебный парк закрыты 10 и 11 июня 2024 года!',
			link: 'single-news.html',
			image: 'image-21'
		},
		{
			title: 'Фоторепортаж - литературный фестиваль «Про Речь»',
			date: '27.05.2024',
			announce: '📚 👀 25 мая в усадьбе состоялся новый литературный фестиваль «Про Речь».',
			link: 'single-news.html',
			image: 'image-26'
		},
		{
			title: '«Инновации и традиции могут прекрасно сосуществовать»',
			date: '20.05.2024',
			announce: 'Музей-заповедник «Усадьба “Мураново”» и IPQuorum совместно с Российским государственным художественно-промышленным университетом имени С.Г. Строганова проводят оцифровку части экспонатов из музейного собрания.',
			link: 'single-news.html',
			image: 'image-12'
		}
	]