-
	let objectsList = [
		{
			id: 1,
			icon: 1,
			list: true,
			title: 'Главный Усадебный Дом',
			description: 'Усадебный дом в Муранове, который был построен в 1841–1842 годах по замыслам и чертежам поэта Е.А. Боратынского.',
			image: 'image-55',
			link: 'single-object.html',
			status: "actual"
		},
		{
			id: 2,
			icon: 2,
			list: true,
			title: 'Кучерская',
			description: 'Здание Кучерской построено в 1870-х годах и была утрачена в 1940-е годы, а затем восстановлена в 1969–1972 годах.',
			image: 'image-81',
			link: 'single-object.html',
			status: "actual"
		},
		{
			id: 3,
			icon: 3,
			list: true,
			title: 'Гладильная',
			description: 'Здание построено в 1879 году на хозяйственном дворе усадьбы и первоначально использовалось под прачечную.',
			image: 'image-80',
			link: 'single-object.html',
			status: "actual"
		},
		{
			id: 4,
			icon: 4,
			list: false,
			title: 'Крокетная площадка',
			description: 'Крокет был одним из развлечений повседневной жизни дворянской усадьбы. Освоить эту старинную аристократическую забаву можно у нас в Муранове!',
			image: 'image-72',
			link: false,
			status: "actual"
		},
		{
			id: 5,
			icon: 5,
			list: true,
			title: 'Детский домик',
			description: 'Детский домик построен в конце 1870-х годов (1878–1879?) И.Ф. Тютчевым для своих детей по образцу деревенской избушки.',
			image: 'image-79',
			link: 'single-object.html',
			status: "actual"
		},
		{
			id: 6,
			icon: 6,
			list: true,
			title: 'Амбар',
			description: 'Амбар был построен в начале XX века (1900–1905 гг.) на хозяйственном дворе усадьбы.',
			image: 'image-87',
			link: 'single-object.html',
			status: "actual"
		},
		{
			id: 7,
			icon: 7,
			list: true,
			title: 'Сторожка',
			description: 'В 1878 году впервые встречается упоминание о сторожке, которая была построена раньше, чем каменный амбар был перестроен в церковь.',
			image: 'image-83',
			link: 'single-object.html',
			status: "actual"
		},
		{
			id: 8,
			icon: 8,
			list: true,
			title: 'Храм Спаса Нерукотворного и Колокольня',
			description: 'Усадебная церковь была построена в 1878 году по проекту А.А. Зборжевского и освящена 17 декабря того же года.',
			image: 'image-78',
			link: 'single-object.html',
			status: "actual"
		},
		{
			id: 10,
			icon: 10,
			list: true,
			title: 'Флигель и Кухня флигеля',
			description: 'В 1879 году Иван Фёдорович для своей матери Эрнестины Фёдоровны Тютчевой построил в северо-восточном углу парка флигель с кухней.',
			image: 'image-77',
			link: 'single-object.html',
			status: "actual"
		},
		{
			id: 11,
			icon: 11,
			list: true,
			title: 'Ледник',
			description: 'Здание ледника было построено предположительно в конце XX века.',
			image: 'image-88',
			link: 'single-object.html',
			status: "actual"
		},
		{
			id: 12,
			icon: 12,
			list: false,
			title: 'Сарай на лугу',
			description: 'Сарай является служебным помещением, которое можно осмотреть только снаружи',
			image: 'image-124',
			link: false,
			status: "actual"
		},
		{
			id: 13,
			icon: 13,
			list: false,
			title: 'Выход на барский колодец',
			description: 'После усадьбы, посетите Барский колодец. Более подробную информацию, как добраться до колодца уточните у сотрудников музея',
			image: 'image-123',
			link: false,
			status: "actual"
		},
		{
			id: 14,
			icon: 14,
			list: true,
			title: 'Прачечная',
			description: 'Впервые прачечная упоминается в 1873 году.',
			image: 'image-89',
			link: 'single-object.html',
			status: "actual"
		},
		{
			id: 15,
			icon: 15,
			list: true,
			title: 'Сенной сарай',
			description: 'Сенной сарай  был построен на хозяйственной территории усадьбы «Мураново», обоснованая в западной части усадьбы за безымянным оврагом.',
			image: 'image-90',
			link: 'single-object.html',
			status: "actual"
		},
		{
			id: 16,
			icon: 16,
			list: true,
			title: 'Каретный сарай',
			description: 'Построен в конце XVIII века. Восточная часть этой постройки использовалась как каретный сарай, а пристройка к нему ― как дровяной сарай.',
			image: 'image-84',
			link: 'single-object.html',
			status: "lost"
		},
		{
			id: 17,
			icon: 17,
			list: true,
			title: 'Оранжерея',
			description: 'Фруктовая оранжерея, где выращивались персики, была в усадьбе ещё во времена Энгельгардтов ― в первой половине XIX века.',
			image: 'image-86',
			link: 'single-object.html',
			status: "lost"
		},
		{
			id: 18,
			icon: 18,
			list: true,
			title: 'Кегельбан',
			description: 'Кегельбан был построен И.Ф. Тютчевым во второй половине XIX века.',
			image: 'image-85',
			link: 'single-object.html',
			status: "lost"
		},
		{
			id: 19,
			icon: 19,
			list: true,
			title: 'Баня',
			description: 'Здание представляло собой хозяйственную постройку, типичную для среднепоместной усадьбы XIX века. Постройка была утрачена в 1-ой пол.XX века.',
			image: 'image-91',
			link: 'single-object.html',
			status: "lost"
		},
		{
			id: 20,
			icon: 20,
			list: true,
			title: 'Школа',
			description: 'Школа была построена в 1880 году. Первоначально в ней был один учитель ― священник.',
			image: 'image-82',
			link: 'single-object.html',
			status: "lost"
		},
		{
			id: 21,
			icon: 'register',
			list: false,
			title: 'Касса',
			description: 'Работа кассы вт-вс до 17:00.<br>Вы можете приобрести билеты как онлайн, так и на главном входе музея.<br>Посещение Главного усадебного дома только в составе экскурсионной группы.',
			image: 'image-125',
			link: false,
			status: "utility"
		},
		{
			id: 22,
			icon: 'wc',
			list: false,
			title: 'Туалет',
			description: 'Для вашего удобства на территории усадьбы есть туалет.<br>Для гостей с трудностями передвижения в том же здании есть специально оборудованный туалет.',
			image: 'image-126',
			link: false,
			status: "utility"
		},
	]