-
	let objectsList = [
		{
			id: 1,
			title: 'Главный Усадебный Дом',
			description: 'Усадебный дом в Муранове, который был построен в 1841–1842 годах по замыслам и чертежам поэта Е.А. Боратынского.',
			image: 'image-55',
			link: 'single-object.html',
		},
		{
			id: 2,
			title: 'Флигель и Кухня флигеля',
			description: 'В 1879 году Иван Фёдорович для своей матери Эрнестины Фёдоровны Тютчевой построил в северо-восточном углу парка флигель с кухней.',
			image: 'image-67',
			link: 'single-object.html',
		}
	]