-
	let pagesList = [
		{
			parent: 'О музее',
			name: 'owners',
			title: 'Владельцы',
			image: 'image-27',
		},
		{
			parent: 'О музее',
			name: 'about',
			title: 'О музее',
			image: 'image-28',
		},
		{
			parent: 'О музее',
			name: 'objects',
			title: 'Объекты музея',
			image: 'image-29',
		},
		{
			parent: 'О музее',
			name: 'collections',
			title: 'Коллекции',
			image: 'image-30',
		},
		{
			parent: 'О музее',
			name: 'news',
			title: 'Новости',
			image: 'image-31',
		},
		{
			parent: 'О музее',
			name: '#',
			title: 'Виртуальный тур',
			image: 'image-32',
		},
		{
			parent: 'О музее',
			name: 'documents',
			title: 'Документация',
			image: 'image-33',
		},
		{
			parent: 'Посетителям',
			name: 'preparation',
			title: 'Подготовка к визиту',
			image: 'image-34',
		},
		{
			parent: 'Посетителям',
			name: 'inclusive',
			title: 'Инклюзивный музей',
			image: 'image-35',
		},
		{
			parent: 'Посетителям',
			name: 'pushkin-card',
			title: 'Пушкинская карта',
			image: 'image-36',
		},
		{
			parent: 'Посетителям',
			name: 'faq',
			title: 'Частые вопросы',
			image: 'image-37',
		},
		{
			parent: 'Контакты',
			name: 'preparation.html?t=mode',
			title: 'Режим работы',
			image: 'image-45',
		},
		{
			parent: 'Контакты',
			name: 'preparation.html?t=howtoget',
			title: 'Как добраться',
			image: 'image-34',
		},
	]