section.section.seemore.category
	.seemore__container.container
		h2.seemore__heading.section__heading Смотрите также
		.swiper.swiper-seemore 
			ul.swiper-wrapper
				+catItem("Владельцы", "owners.html", "image-27", "swiper-slide")
				+catItem("О музее", "about.html", "image-28", "swiper-slide")
				+catItem("Объекты музея", "objects.html", "image-29", "swiper-slide")
				+catItem("Коллекции", "collections.html", "image-30", "swiper-slide")
				+catItem("Новости", "news.html", "image-31", "swiper-slide")
				+catItem("Виртуальный тур", "#", "image-32", "swiper-slide")
				+catItem("Документация", "documents.html", "image-33", "swiper-slide")