.btn-primary,
input[type="submit"] {
	color: $c-white;
	background: $c-accent;
	display: inline-block;
	padding: 16px 60px;
	width: fit-content;
	min-width: 210px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	border-radius: 10px;
	&:hover {
		opacity: 0.6;
	}
}

.btn-transparent {
	padding: 21px 4px 18px;
	border: 1px solid $c-theme-grey;
	color: $c-theme-grey;
	border-radius: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 500;
	max-width: 192px;
	min-width: 192px;
	width: fit-content;
	line-height: 1;
	text-align: center;
	&:focus,
	&:active {
		border: 1px solid $c-theme-grey;
	}
}

.btn-tab {
	padding: 10px 16px;
	background-color: transparentize($c-theme-brown, 0.9);
	color: $c-theme-brown;
	border-radius: 8px;
	font-size: 16px;
	transition: $transition-base;
	flex-shrink: 0;
	text-decoration: none;
	&:hover,
	&.active {
		background-color: $c-theme-brown;
		color: $c-white;
	}
	&--white {
		background-color: transparentize($c-white, 0.9);
		&:hover,
		&.active {
			background-color: transparentize($c-white, 0.7);
			// color: $c-white;
		}
	}
}

.btn-link {
	color: $c-accent;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.btn-download {
	color: $c-accent;
	text-decoration: none;
	border-radius: 36px;
	font-size: 16px;
	background: $c-white;
	padding: 6px 12px;
	box-shadow: 0px 2px 10px 0px #00000026;
	&::before {
		content: "";
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath fill='%23C25B3C' d='M12 7.5v4a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 1 1 1 0V11h10V7.5a.5.5 0 0 1 1 0Zm-6.354.354a.5.5 0 0 0 .708 0l2.5-2.5a.5.5 0 0 0-.708-.708L6.5 6.293V.5a.5.5 0 0 0-1 0v5.793L3.854 4.646a.5.5 0 1 0-.708.708l2.5 2.5Z'/%3E%3C/svg%3E");
		width: 12px;
		height: 12px;
		display: inline-block;
		margin: 0 8px 0 0;
		transition: $transition-base;
	}
	&:hover {
		&::before {
			transform: translateY(-3px);
		}
	}
}

.btn {
	cursor: pointer;
	transition: $transition-base;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	&:focus,
	&:active {
		outline: none;
	}
	&--baron {
		font-family: "BaronNeue", sans-serif;
		text-transform: initial;
	}
	&--black {
		color: $c-text;
		&:hover,
		&:active,
		&:focus {
			color: $c-accent;
		}
	}
	&--grey {
		border-color: $c-theme-grey;
		color: $c-theme-grey;
		&:active,
		&:focus {
			border-color: $c-theme-grey;
			color: $c-theme-grey;
		}
	}
	&--white {
		border-color: $c-white;
		color: $c-white;
		&:active,
		&:focus {
			border-color: $c-white;
			color: $c-white;
		}
	}
	&--accent {
		border-color: $c-accent;
		color: $c-accent;
		&:active,
		&:focus {
			border-color: $c-accent;
			color: $c-accent;
		}
	}
	&--brown {
		border-color: $c-theme-brown;
		color: $c-theme-brown;
		&:active,
		&:focus {
			border-color: $c-theme-brown;
			color: $c-theme-brown;
		}
	}
}

.link {
	color: $c-text;
	cursor: pointer;
	transition: $transition-base;
	&:hover {
		color: $c-accent;
	}
}
