* {
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	position: relative;
	min-height: 100vh;
	min-width: 320px;
	font-size: clamp(0.875rem, 0.7885rem + 0.3846vw, 1.125rem);
	overflow-x: hidden;
	font-family: "Commissioner", sans-serif;
	font-weight: 400;
	color: $c-text;
	font-style: normal;
	line-height: normal;
	scrollbar-gutter: stable;
}

.lock {
	overflow: hidden;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: 700;
}

h1,
.h1 {
	@include h1;
}
h2,
.h2 {
	@include h2;
}

h3,
.h3 {
	@include h3;
}

h4,
.h4 {
	@include h4;
}

h5,
.h5 {
	@include h5;
}

a {
	text-decoration: none;
	transition: $transition-base;
	color: $c-accent;
}

a:focus,
a:active,
a:visited {
	outline: none;
	border: none;
}

img {
	max-width: 100%;
}

p {
	@include last-child;
	margin: 0 0 20px;
	line-height: 1.4;
	@media ($t) {
		margin: 0 0 12px;
	}
}

strong {
	font-weight: bold;
}

img {
	display: block;
	max-width: 100%;
}

::selection {
	background: #d2948c;
}

button,
input[type="submit"] {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 0;
	width: fit-content;
	color: $c-white;
	font-family: "Gilroy", sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline: none;
	}
}

input[type="text"] {
	background: transparent;
	font-family: "Gilroy", sans-serif;
	border: none;
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	padding: 8px 0;
	font-size: clamp(1rem, 0.9135rem + 0.3846vw, 1.25rem);
	margin: 0 0 14px;
	color: $c-white;
	transition: $transition-base;
	&:focus {
		outline: none;
		border-color: $c-accent;
	}
}

input[type="search"] {
	-webkit-appearance: none;
}

/* Скрыть лупу */
::-webkit-search-results-button {
	-webkit-appearance: none;
}
::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="reset"]::-moz-focus-inner {
	display: none;
}

label {
	color: rgba(255, 255, 255, 0.25);
	font-size: clamp(1rem, 0.9135rem + 0.3846vw, 1.25rem);
	margin: 0 0 5px;
}

.c-accent {
	color: $c-accent;
}

.section {
	margin: 0 0 120px;
	scroll-margin-top: 90px;
	@media ($t) {
		margin: 0 0 60px;
	}
	&:last-child {
		margin: 0 0 80px;
	}
	&-heading {
		margin: 0 0 80px;
		animation: fadeInUp $animation-duration-base;
		@media ($t) {
			margin: 0 0 20px;
		}
	}
}

.wrapper {
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.container {
	max-width: 1440px;
	padding: 0 $p-clamp;
	margin: 0 auto;
}

.preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: $c-text;
	z-index: 200;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	opacity: 1;
	visibility: visible;
	transition: 0.5s ease;
	svg {
		width: 220px;
		height: 220px;
	}
	&--hidden {
		opacity: 0;
		visibility: hidden;
		z-index: -10;
	}
}

.ticker {
	position: relative;
	overflow: hidden;
	&__content {
		display: flex;
	}
	&__item {
		white-space: nowrap;
		flex-shrink: 0;
		padding: 0 4px;
		font-size: clamp(0.875rem, 0.8277rem + 0.2101vw, 1rem);
		animation: ticker 2s linear forwards infinite paused;
	}
	&:hover {
		.ticker__item {
			animation-play-state: running;
		}
	}
}

.desktop-hidden {
	@media ($l-s) {
		display: block;
	}
}

.main {
	flex-grow: 1;
	// padding: 80px 0 0;
	.inner {
		margin: 0;
		padding: 0;
		border: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

div.space-between {
	justify-content: space-between;
}

.f-baron {
	font-family: $f-baron;
}

.tag {
	&--date {
		border-radius: 10px;
		padding: 8px 16px;
	}
	&--pushkin {
		border-radius: 50%;
		width: 40px;
		overflow: hidden;
		&:before {
			content: "";
			background: url("../img/icons/icon-pushkin.png") center / contain no-repeat;
			width: 100%;
			height: 100%;
		}
	}
	&--age {
		border-radius: 50%;
		width: 40px;
	}
}
