.top {
	padding: 60px 0 0;
	@media ($t) {
		padding: 24px 0 0;
	}
	&__container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		@media ($t) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			position: relative;
		}
		&::before {
			content: "";
			background: url("../img/decorate-02.png") bottom left / contain no-repeat;
			@media ($t) {
				flex: 0 1 70%;
				display: flex;
				height: 344px;
				order: 2;
			}
		}
		&::after {
			content: "";
			background: url("../img/decorate-01.png") top / contain no-repeat;
			transform: translateY(15%);
			@media ($t) {
				flex: 0 1 30%;
				background-position: bottom right;
				max-width: 276px;
				// height: 84px;
				order: 2;
				display: flex;
				transform: translateY(-86px);
			}
		}
	}
	&__content {
		grid-column: span 3;
		padding: 0 0 150px;
		position: relative;
		@media ($t) {
			padding: 0 $p-clamp 46px;
			flex: 0 0 100%;
			order: 1;
			position: initial;
		}
	}
	&__title {
		@include h1;
		color: $c-theme-grey;
		margin: 0 0 32px;
		span {
			display: block;
		}
	}
	&__links {
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
		@media ($t) {
			gap: 8px;
		}
	}
	&__link {
		padding: 14px;
		text-transform: uppercase;
		background-color: $c-background-gray-accent;
	}
	&__ticket {
		position: absolute;
		right: 0;
		bottom: 50%;
		@media ($t) {
			bottom: 40px;
			width: 100%;
			padding: 0 $p-clamp;
			text-align: center;
			.btn {
				width: 100%;
				max-width: 480px;
			}
		}
	}
}

.muranovo {
	&__container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		@media ($l-s) {
			display: flex;
			overflow-x: auto;
			&::-webkit-scrollbar {
				width: 0 !important;
				height: 0;
				display: none !important;
				background: transparent;
			}
		}
	}
	&__item {
		width: 20vw;
		height: 20vw;
		transition: $transition-base;
		overflow: hidden;
		@media ($l-s) {
			min-width: 288px;
			min-height: 288px;
		}
		&--text {
			@media ($l-s) {
				display: none;
			}
		}
	}
	&__word {
		padding: 14%;
		width: 100%;
		height: 100%;
		svg {
			width: 100%;
			height: 100%;
		}
		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
	&__pic {
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__text,
	&__mobtext {
		width: 100%;
		height: 100%;
		background:
			url("../img/noise.png") center / contain repeat,
			$c-accent;
		color: $c-white;
		padding: 13% 7%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 16px;
	}
	&__mobtext {
		padding: 24px $p-clamp;
		display: flex;
		align-items: center;
		display: none;
		@media ($l-s) {
			display: flex;
		}
		.btn {
			width: 100%;
			max-width: 328px;
		}
	}
}

.events {
	&__container {
		position: relative;
	}
	&__heading {
		.btn {
			@media ($t) {
				position: absolute;
				top: calc(100% + 24px);
				width: 92%;
				max-width: 480px;
				margin: 0 auto;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 24px;
		@media ($l-m) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media ($l-s) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media ($p-b) {
			grid-template-columns: 1fr;
		}
	}
	&__item {
		flex: 0 1 calc(25% - 12px);
		background:
			url("../img/noise.png") center / contain repeat,
			$c-accent;
		border-radius: 30px;
		overflow: hidden;
		transition: $transition-middle;
		opacity: 1;
		position: relative;
		@media ($p-b) {
			flex: 0 1 100%;
			max-width: 456px;
			width: 100%;
			margin: 0 auto;
		}
		&:nth-child(2n) {
			.events__link {
				flex-direction: column;
			}
			.events__text {
				justify-content: flex-end;
			}
		}
		@media ($p-b) {
			&:nth-child(2n) {
				.events__link {
					flex-direction: column-reverse;
				}
				.events__text {
					justify-content: flex-start;
				}
			}
		}
		&:hover {
			box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.4);
			transform: translateY(-7px);
			.events__prop {
				background-color: transparentize($c-accent, 0.1);
			}
		}
	}
	&__link {
		display: flex;
		flex-direction: column-reverse;
		height: 100%;
	}
	&__pic {
		position: relative;
		height: 218px;
		overflow: hidden;
		border-radius: 20px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: $transition-middle;
		}
	}
	&__props {
		position: absolute;
		padding: 24px;
		bottom: 0;
		left: 0;
		display: flex;
		gap: 10px;
	}
	&__prop {
		background-color: transparentize($c-accent, 0.5);
		backdrop-filter: blur(4px);
		height: 40px;
		color: $c-white;
		display: flex;
		align-items: center;
		justify-content: center;
		@include p3;
		line-height: 1;
		transition: $transition-middle;
	}
	&__text {
		min-height: 218px;
		padding: 32px 24px;
		color: $c-white;
		display: flex;
		flex-direction: column;
	}
	&__date {
		margin: 0 0 16px;
		@include p3;
	}
	&__title {
		@include h5;
		@include line-clamp(5);
	}
	&__tabs {
		margin: 0 0 40px;
		@media ($t) {
			margin: 0 0 32px;
		}
	}
	&__tab {
		order: 2;
	}
	&__calendar {
		&-btn {
			border-radius: 50%;
			flex-shrink: 0;
			width: 40px;
			height: 40px;
			margin: 0 13px 0 0;
			background:
				url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath d='M19.246 2h-3v-.75a.75.75 0 1 0-1.5 0V2h-7.5v-.75a.75.75 0 1 0-1.5 0V2h-3a2.25 2.25 0 0 0-2.25 2.25V6.5h21V4.25A2.25 2.25 0 0 0 19.246 2ZM.496 19.25a2.25 2.25 0 0 0 2.25 2.25h16.5a2.25 2.25 0 0 0 2.25-2.25V8h-21v11.25Zm15-7.5h1.5a.75.75 0 1 1 0 1.5h-1.5a.75.75 0 1 1 0-1.5Zm0 4.5h1.5a.75.75 0 1 1 0 1.5h-1.5a.75.75 0 1 1 0-1.5Zm-5.25-4.5h1.5a.75.75 0 1 1 0 1.5h-1.5a.75.75 0 1 1 0-1.5Zm0 4.5h1.5a.75.75 0 1 1 0 1.5h-1.5a.75.75 0 1 1 0-1.5Zm-5.25-4.5h1.5a.75.75 0 1 1 0 1.5h-1.5a.75.75 0 1 1 0-1.5Zm0 4.5h1.5a.75.75 0 1 1 0 1.5h-1.5a.75.75 0 1 1 0-1.5Z' fill='%2372665B'/%3E%3C/svg%3E")
					center / 22px no-repeat,
				transparentize($c-theme-brown, 0.9);
			@media ($t) {
				margin: 0;
			}
		}
	}
	&__reset {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		margin: 0 0 0 13px;
		flex-shrink: 0;
		background:
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath fill='%2372665B' stroke='%2372665B' stroke-width='.4' d='M15.349 14.018 9.329 8l6.02-6.018A.943.943 0 1 0 14.015.647l-6.019 6.02L1.977.646A.943.943 0 1 0 .643 1.98l6.02 6.018-6.02 6.02a.943.943 0 1 0 1.334 1.333l6.019-6.02 6.019 6.02a.943.943 0 1 0 1.334-1.334Z'/%3E%3C/svg%3E")
				center / 16px no-repeat,
			transparentize($c-theme-brown, 0.9);
		@media ($t) {
			order: 1;
			margin: 0;
		}
	}
}

.inform {
	background:
		url("../img/noise.png") center / contain repeat,
		$c-theme-grey;
	padding: 28px $p-clamp;
	@media ($t) {
	}
	&__container {
		max-width: 1180px;
		margin: 0 auto;
	}
	&__content {
		display: flex;
		gap: 20px;
		justify-content: center;
		@media ($t) {
			justify-content: flex-start;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		white-space: nowrap;
		@media ($t) {
			min-width: max-content;
		}
		&::after {
			content: "";
			background: url("data:image/svg+xml,%3Csvg width='13' height='13' fill='%23818B94' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.908 10.914a1 1 0 1 0 1.414 1.414L.908 10.914ZM12.386 1.85a1 1 0 0 0-1-1h-9a1 1 0 0 0 0 2h8v8a1 1 0 1 0 2 0v-9ZM2.322 12.328l9.771-9.77-1.414-1.415-9.77 9.77 1.413 1.415Z' /%3E%3C/svg%3E")
				center / 13px no-repeat;
			background-color: $c-white;
			display: block;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			flex-shrink: 0;
			margin: 0;
			transition: $transition-base;
			opacity: 0;
		}
		&:hover {
			&::after {
				margin-left: 16px;
				opacity: 1;
			}
			.inform__link {
				opacity: 1;
				border-bottom-color: $c-white;
				transform: translateY(-6px);
			}
		}
	}
	&__link {
		color: $c-white;
		@include h4;
		line-height: 1;
		opacity: 0.3;
		border-bottom: 2px solid transparent;
		padding: 0 0 6px 0;
		width: 100%;
		@media ($t) {
			padding: 0;
		}
	}
}

.service {
	background:
		url("../img/noise.png") center / contain repeat,
		$c-accent;
	* {
		color: $c-white;
	}
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media ($t) {
			display: flex;
			flex-direction: column;
		}
	}
	&__pages {
		flex: 1;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 14px;
		grid-row: span 2;
		@media ($l-m) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media ($t) {
			display: flex;
			order: 2;
			gap: 8px;
			margin: 0 0 50px;
		}
	}
	&__block {
		position: relative;
		border-radius: 20px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		height: 230px;
		padding: 16px;
		font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
		font-family: $f-baron;
		&:nth-child(-n + 4) {
			border-radius: 0 0 20px 20px;
		}
		&:nth-last-child(-n + 4) {
			border-radius: 20px 20px 0 0;
		}
		@media ($l-m) {
			&:nth-child(4n) {
				display: none;
			}
		}
		@media ($t) {
			min-width: 130px;
			&:nth-child(-n + 4),
			&:nth-last-child(-n + 4) {
				border-radius: 20px;
			}
		}
		&:hover {
			&.service__page img {
				filter: brightness(0.85);
				transform: scale(1.05);
			}
			.service__name {
				transform: translateY(-6px);
			}
		}
	}
	&__cover {
		object-fit: cover;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		transition: $transition-middle;
	}
	&__name {
		position: relative;
		z-index: 2;
		text-align: center;
		min-height: 36px;
		transition: $transition-middle;
		@media ($t) {
			min-height: 28px;
		}
	}

	&__content {
		flex: 1;
		padding: 104px 24px 64px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__heading {
		padding: 104px 24px 16px;
		@media ($t) {
			padding: 24px $p-clamp 16px;
		}
	}
	&__title {
		margin: 0 0 32px;
		@media ($t) {
			margin: 0 0 16px;
		}
	}
	&__links {
		display: flex;
		gap: 16px;
		margin: 0 0 32px;
		flex-wrap: wrap;
		@media ($t) {
			gap: 8px;
		}
	}
	&__link {
		display: block;
		padding: 9px 14px;
		background-color: #fbfbfb1a;
		border-radius: 8px;
		font-size: 16px;
	}
	&__more {
		align-self: end;
		padding: 16px 24px 64px;
		@media ($t) {
			order: 3;
			align-self: initial;
			text-align: center;
			padding: 0 $p-clamp 36px;
			.btn {
				max-width: 480px;
				width: 100%;
			}
		}
	}
}

.partners {
	background:
		url("../img/noise.png") center / contain repeat,
		$c-theme-grey;
	padding: 28px 0;
	color: $c-white;
	&__list {
		display: grid;
		grid-auto-columns: fit-content;
		grid-auto-flow: column;
	}
	&__item {
		min-width: 250px;
		animation: ticker 2s linear infinite;
		text-align: center;
		display: flex;
		justify-content: center;
	}
}

.news {
	&__container {
		position: relative;
	}
	&__heading {
		.btn {
			@media ($t) {
				position: absolute;
				top: calc(100% + 24px);
				width: 92%;
				max-width: 480px;
				margin: 0 auto;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 90px 60px;
		@media ($l-m) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media ($t) {
			grid-template-columns: 1fr;
			gap: 40px;
		}
	}
	&__item {
		flex: 0 1 calc(100% / 3 - 30px);
		&:hover {
			.news__pic {
				opacity: 1;
			}
		}
	}
	&__top {
		position: relative;
		margin: 0 0 40px;
		min-height: 200px;
		@media ($t) {
			min-height: initial;
		}
	}
	&__title {
		padding: 32px 0 0;
		@media ($t) {
			padding: 0;
		}
		&--fill {
			color: $c-theme-grey;
		}
		&--outline {
			position: absolute;
			left: 0;
			top: 32px;
			color: rgba(255, 255, 255, 0);
			text-stroke: 1px $c-white;
			-webkit-text-stroke: 1px $c-white;
			z-index: 6;
			@media ($t) {
				display: none;
			}
		}
	}
	&__pic {
		position: absolute;
		top: 0;
		left: 46px;
		width: 240px;
		height: 200px;
		display: none;
		border-radius: 20px;
		overflow: hidden;
		display: block;
		z-index: 3;
		opacity: 0;
		transition: $transition-middle;
		filter: brightness(0.8);
		@media ($t) {
			display: none;
		}
	}
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__date {
		margin: 0 0 20px;
		font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
	}
	&__announce {
		font-size: 20px;
		color: $c-text;
		@include line-clamp(6);
	}
}

.gosuslugi {
	background-color: $c-background-gray-accent;
	padding: 45px 0;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 28px;
		@media ($t) {
			flex-direction: column-reverse;
			align-items: flex-start;
			gap: 24px;
		}
	}
	&__content {
		flex: 0 1 58%;
	}
	&__subtitle {
		margin: 0 0 24px;
		font-size: 20px;
	}
	&__title {
		margin: 0 0 32px;
		text-transform: initial;
	}
	&__pic {
		max-width: 320px;
		width: 100%;
		@media ($t) {
			max-width: 158px;
		}
	}
}

.banner {
	&__container {
		margin: 0 auto;
		max-width: 1440px;
	}
}

.guest {
	padding: 90px 0;
	position: relative;
	background:
		url("../img/noise.png") center / contain repeat,
		$c-background-gray-accent;
	@media ($t) {
		padding: 32px 0 0;
	}
	&::after {
		content: "";
		background: url("../img/decorate-03.png") bottom left / contain no-repeat;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 608px;
		width: 326px;
		@media ($t) {
			position: static;
			height: 398px;
			background-size: 100%;
			background-position: top left;
		}
	}
	&__container {
		position: relative;
		z-index: 3;
		@media ($t) {
			position: initial;
		}
	}
	&__content {
		max-width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media ($t) {
			max-width: 100%;
		}
	}
	&__title {
		margin: 0 0 58px;
		text-align: center;
		@media ($t) {
			margin: 0 0 24px;
		}
	}
	&__links {
		display: flex;
		gap: 8px;
		margin: 0 0 58px;
		text-align: center;
		flex-wrap: wrap;
		@media ($t) {
			justify-content: center;
			margin: 0;
		}
	}
	&__link {
		text-transform: uppercase;
	}
	&__button {
		@media ($t) {
			position: absolute;
			bottom: 32px;
			width: 100%;
			padding: 0 $p-clamp;
			text-align: center;
			.btn {
				max-width: 480px;
				width: 100%;
			}
		}
	}
}

.pagetop {
	padding: 48px 0;
	background:
		url("../img/noise.png") center / contain repeat,
		$c-accent;
	margin: 0 0 40px;
	@media ($t) {
		padding: 24px 0;
		margin: 0 0 32px;
	}
	* {
		color: $c-white;
	}
	&__title {
		text-transform: initial;
	}
	.breadcrumps {
		margin: 0 0 24px;
		font-size: 14px;
		display: flex;
		align-items: center;
		gap: 8px;
		@media ($t) {
			margin: 0 0 16px;
			gap: 4px;
		}
		&__item {
			margin: 6px;
		}
		&__home,
		&__prev {
			font-weight: 300;
			opacity: 0.9;
			transition: $transition-base;
			white-space: nowrap;
			&:hover {
				opacity: 1;
			}
		}
		&__separator {
			width: 11px;
			height: 1px;
			background-color: $c-white;
			flex-shrink: 0;
		}
		&__current {
			font-weight: 700;
			@include line-clamp(1);
		}
	}
	&--breadcrumps {
		padding: 24px 0;
		background: none;
		margin: 0;
		@media ($t) {
			padding: 16px 0;
		}
		a,
		span {
			color: $c-text;
		}
		.breadcrumps__separator {
			background-color: $c-text;
		}
	}
	&__tabs {
		padding-top: 40px;
		flex-wrap: wrap;
		margin: 0 auto;
		@media ($l-s) {
			flex-wrap: nowrap;
		}
	}
}

.search {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: $transition-base;
	&__container {
		width: 100%;
	}
	&__form {
	}
	&__fieldset {
		position: relative;
		&::before {
			content: "";
			display: block;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' fill='none'%3E%3Cpath d='M2.696 8.189a5.708 5.708 0 1 1 11.416 0 5.708 5.708 0 0 1-11.416 0zM8.404.435a7.754 7.754 0 1 0 4.712 13.913l3.988 3.987a1.023 1.023 0 0 0 1.446-1.446L14.562 12.9A7.754 7.754 0 0 0 8.403.435z' fill='%23818B94' stroke='%23818B94' stroke-width='.7' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
				center / contain no-repeat;
			width: 18px;
			height: 18px;
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.clear-btn {
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath d='m15.352 14.019-6.02-6.02 6.02-6.018A.943.943 0 1 0 14.018.647L8 6.667 1.981.647A.943.943 0 0 0 .647 1.981L6.667 8l-6.02 6.019a.943.943 0 1 0 1.334 1.334l6.018-6.02 6.02 6.02a.944.944 0 1 0 1.333-1.334z' fill='%23818B94' stroke='%23818B94' stroke-width='.4'/%3E%3C/svg%3E")
			center / contain no-repeat;
	}
	&__input {
		width: 100%;
		margin: 0 auto;
		display: flex;
		padding: 18px 44px 18px 50px;
		border-radius: 20px;
		outline: none;
		font-size: 22px;
		font-family: $f-com;
		background-color: $c-white;
		border: 1px solid $c-theme-grey;
	}
	&__results {
		width: 100%;
		margin: 0 auto;
		padding: 24px 0;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		transition: $transition-base;
		height: 0;
		overflow: hidden;
		&.active {
			opacity: 1;
			visibility: visible;
			z-index: 2;
			height: initial;
			overflow: initial;
		}
		.btn {
			width: 100%;
			text-transform: uppercase;
		}
		&-content {
			display: block;
			&.hidden {
				display: none;
			}
		}
		&-list {
			&.added {
				& > li {
					display: block !important;
				}
			}
		}
		&-item {
			transition: $transition-base;
			display: none;
			border-radius: 20px;
			&:hover {
				background-color: #e6e8ec;
			}
			&:nth-child(-n + 5) {
				display: block;
			}
		}
		&-link {
			padding: 12px 24px;
			display: block;
			@media ($t) {
				padding: 10px 24px;
			}
		}

		&-group {
			color: $c-theme-grey;
			margin: 0 0 4px;
		}
		&-title {
			font-size: 20px;
			color: $c-text;
		}
		&-show {
			margin: 16px 0 0 0;
			padding: 0 24px;
		}
		&-nothing {
			display: none;
			color: $c-accent;
			font-size: 20px;
			padding: 0 24px;
			&.active {
				display: block;
			}
		}
	}
}

.category {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(420px, 0.7fr));
		justify-content: center;
		gap: 40px;
		@media ($t) {
			display: flex;
			flex-direction: column;
			max-width: 420px;
			margin: 0 auto;
			gap: 20px;
		}
	}
	&__item {
		background:
			url("../img/noise.png") center / contain repeat,
			$c-theme-grey;
		border-radius: 30px;
		height: 276px;
		overflow: hidden;
		transition: $transition-base;
		&:hover {
			box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.4);
			.category__name {
				transform: translate(3px, -6px);
			}
			.category__pic {
				filter: brightness(0.9);
			}
		}
		@media ($t) {
			height: 220px;
		}
	}
	&__link {
		display: block;
		padding: 16px 20px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
	}
	&__name {
		color: $c-white;
		position: relative;
		z-index: 2;
		white-space: no-wrap;
		transition: $transition-middle;
	}
	&__pic {
		position: absolute;
		bottom: -6px;
		right: 0;
		transition: $transition-middle;
		display: flex;
		justify-content: flex-end;
		@media ($t) {
			max-width: 62%;
		}
	}
}

.seemore {
	overflow-x: hidden;
	.category__item {
		flex: 0 0 calc(100% / 3 - 32px);
		min-width: 420px;
		margin: 0 32px 0 0;
		&:last-child {
			margin: 0;
		}
		@media ($t) {
			min-width: 296px;
			margin: 0 16px 0 0;
		}
	}
	.events__item {
		flex: 0 0 calc(100% / 4 - 24px);
		min-width: 318px;
		margin: 0 24px 0 0;
		&:last-child {
			margin: 0;
		}
		@media ($t) {
			margin: 0 16px 0 0;
			&:nth-child(2n) .events__link {
				flex-direction: column;
			}
		}
	}
	.news__item {
		flex: 0 0 calc(100% / 3 - 24px);
		min-width: 280px;
		margin: 0 24px 0 0;
		&:last-child {
			margin: 0;
		}
		@media ($t) {
			margin: 0 16px 0 0;
		}
	}
}

.documents {
	&__list {
	}
	&__item {
		display: flex;
		margin: 0 0 24px;
		padding: 24px 48px;
		border-radius: 20px;
		background-color: $c-background-gray-accent;
		&:last-child {
			margin: 0;
		}
		@media ($t) {
			padding: 24px 16px;
			margin: 0 0 16px;
		}
		&:before {
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.361.89 4.686 4.674h-2.791A1.9 1.9 0 0 1 12.36 3.67V.89ZM16.037 24H1.965A1.9 1.9 0 0 1 .07 22.105V1.895A1.9 1.9 0 0 1 1.965 0h9.133v3.67a3.159 3.159 0 0 0 3.158 3.157h3.669v15.278A1.89 1.89 0 0 1 16.037 24Z' fill='%2372665B' fill-opacity='.5'/%3E%3C/svg%3E");
			width: 18px;
			height: 24px;
			display: block;
			flex-shrink: 0;
			margin: 0 28px 0 0;
			@media ($t) {
				margin: 0 24px 0 0;
			}
		}
	}
}

.faq {
	&__item {
		background-color: $c-white;
		border-radius: 30px;
		padding: 24px 48px;
		margin: 0 0 40px;
		&:last-child {
			margin: 0;
		}
		@media ($t) {
			padding: 24px 16px;
			margin: 0 0 24px;
		}
	}
	&__question {
		font-size: clamp(1.125rem, 1.0417rem + 0.3704vw, 1.375rem); /* 22 > 18 */
		font-weight: 700;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: left;
		&:after {
			content: "";
			background: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3926 5.5L6.96262 1.07004C6.53955 0.646977 5.85363 0.646977 5.43056 1.07004L1.0006 5.5' stroke='%231D1D1B' stroke-width='1.48457' stroke-linecap='round'/%3E%3C/svg%3E%0A")
				center / contain no-repeat;
			width: 13px;
			height: 7px;
			display: block;
			margin: 0 0 0 20px;
			transform: rotate(180deg);
			transition: $transition-middle;
			flex-shrink: 0;
		}
		&.active {
			color: $c-accent;
			&:after {
				transform: rotate(0deg);
			}
		}
	}
	&__answer {
		font-size: clamp(1.125rem, 1.0417rem + 0.3704vw, 1.375rem); /* 22 > 18 */
		display: none;
		padding: 32px 0 0;
		&.active {
			display: block;
		}
		@media ($t) {
			padding: 24px 0 0;
		}
	}
}

.gallery-pic {
	display: block;
	position: relative;
	transition: $transition-base;
	&::after {
		content: "";
		display: block;
		position: absolute;
		inset: 50%;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		backdrop-filter: blur(10px);
		opacity: 0;
		transition: $transition-base;
		background:
			url("data:image/svg+xml,%3Csvg width='20' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.313 8.974a.768.768 0 0 1-.769.768H9.24v2.305a.768.768 0 1 1-1.537 0V9.742H5.397a.768.768 0 1 1 0-1.537h2.305V5.9a.768.768 0 0 1 1.537 0v2.305h2.305a.768.768 0 0 1 .769.769Zm7.459 11.3a.767.767 0 0 1-1.088 0l-4.808-4.809a8.463 8.463 0 1 1 1.087-1.086l4.809 4.808a.767.767 0 0 1 0 1.088ZM8.47 15.89a6.916 6.916 0 1 0-6.916-6.915 6.923 6.923 0 0 0 6.916 6.915Z' fill='%23FBFBFB'/%3E%3C/svg%3E")
				center / 20px no-repeat,
			transparentize($c-theme-brown, 0.5);
	}
	&:hover {
		filter: brightness(0.9);
		&::after {
			opacity: 1;
		}
	}
	figure {
		aspect-ratio: 3 / 2;
		@media ($t) {
			max-height: 634px;
			height: 90vw;
		}
	}
	figcaption {
		position: absolute;
		left: 0;
		bottom: 32px;
		display: block;
		padding: 16px 16px 16px 48px;
		background-color: transparentize($c-theme-brown, 0.5);
		backdrop-filter: blur(10px);
		color: $c-white;
		max-width: 274px;
		width: 100%;
		font-weight: 300;
		border-radius: 0 20px 20px 0;
		font-size: 16px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		border-radius: 30px;
	}
}

.tablet-pic {
	position: relative;
	&--full {
		flex: 0 0 100%;
	}
}

.swiper-tape {
	overflow: visible;
}

.front-page {
	.news {
		@media ($t) {
			padding: 0 0 80px;
		}
		&__list {
			@media ($t) {
				gap: 16px;
			}
		}
		&__item {
			min-width: 408px;
		}
	}
	.events {
		@media ($t) {
			padding: 0 0 74px;
		}

		&__item {
			min-width: 318px;
			margin: 0 24px 0 0;
			&:last-child {
				margin: 0;
			}
		}
	}
	.news {
		&__list {
			display: flex;
		}
	}
}

.news-page {
	.news {
		&__top {
			min-height: initial;
		}
	}
}

.contacts-page {
	.social {
		margin: 0 auto 0 0;
	}
}

.owners-page,
.about-page {
	.wrapper {
		overflow: initial;
	}
	.swiper-gallery .gallery-pic figure {
		height: 678px;
		@media ($t) {
			max-height: 634px;
			height: 90vw;
		}
	}
}

.swiper-gallery {
	position: relative;
	.swiper-slide {
		border-radius: 0 30px 30px 0;
		overflow: hidden;
	}
	&-navigation {
		position: absolute;
		justify-content: space-between;
		display: flex;
		bottom: calc(32px + 22px);
		right: 22px;
		max-width: 96px;
		width: 100%;
		z-index: 5;
		@media ($t) {
			display: none;
		}
	}
	&-pagination.swiper-pagination-bullets {
		bottom: -10px;
		left: 0;
		right: 0;
		height: 22px;
		text-align: center;
		.swiper-pagination-bullet {
			display: inline-block;
			width: 10px;
			height: 10px;
			background-color: #e4e4e4;
			opacity: 1;
			transition: $transition-middle;
			&-active {
				background-color: $c-theme-brown;
				width: 24px;
				border-radius: 30px;
			}
		}
	}
	&-button-prev,
	&-button-next {
		display: block;
		width: 40px;
		height: 40px;
		background-color: transparentize($c-theme-brown, 0.5);
		backdrop-filter: blur(10px);
		border-radius: 50%;
		transition: $transition-base;
		&:hover {
			background-color: transparentize($c-theme-brown, 0.7);
		}
	}
	&-button-prev {
		background: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9365 20.8623L2.35074 12.2766C1.56969 11.4955 1.56968 10.2292 2.35073 9.44816L10.9365 0.862305' stroke='%23FBFBFB' stroke-width='2'/%3E%3C/svg%3E%0A")
			center / 12px no-repeat;
	}
	&-button-next {
		background: url("data:image/svg+xml,%3Csvg width='11' height='23' viewBox='0 0 11 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.782227 1.49902L9.36801 10.0847C10.1491 10.8658 10.1491 12.1321 9.36802 12.9132L0.782227 21.499' stroke='%23FBFBFB' stroke-width='2'/%3E%3C/svg%3E%0A")
			center / 12px no-repeat;
	}
}

.content-section {
	display: flex;
	margin: 0 0 60px;
	flex-wrap: wrap;
	@media ($t) {
		margin: 0 0 32px;
	}
	&--single {
		background-color: $c-theme-brown;
		color: $c-white;
		text-align: center;
		margin: 0 auto 60px;
		@media ($t) {
			margin: 0 0 32px;
		}
		padding: 62px 0 56px;
		h2 {
			color: $c-theme-brown;
			text-shadow:
				2px 2px 0 $c-white,
				2px -2px 0 $c-white,
				-2px 2px 0 $c-white,
				-2px -2px 0 $c-white;
		}
		& > div {
			max-width: 988px;
		}
	}
	&--cols {
		& > div:first-child {
			flex: 0 1 45%;
			@media ($l-s) {
				flex: 0 1 100%;
			}
		}
		& > div:last-child {
			flex: 0 1 55%;
			@media ($l-s) {
				flex: 0 1 100%;
			}
		}
	}
	&--space {
		padding: 80px 0;
		@media ($l-s) {
			padding: 0;
		}
	}
	&__images {
		min-width: 0;
		position: sticky;
		top: 16px;
		height: fit-content;
		@media ($l-s) {
			order: 2;
		}
		a {
			height: 100%;
			&.tablet-pic--primary {
				height: 468px;
			}
			&.tablet-pic--full {
				flex: 0 1 100%;
				aspect-ratio: 2 / 1;
				@media ($l-s) {
					aspect-ratio: initial;
				}
			}
			&.tablet-pic--object-top img {
				object-position: top;
			}
			&.tablet-pic--square {
				aspect-ratio: 1 / 1;
			}
			&.tablet-pic--brr img {
				border-radius: 0 30px 30px 0;
			}
		}

		img {
			object-fit: cover;
			object-position: center;
			height: 100%;
			width: 100%;
		}
		figure {
			max-height: 678px;
			height: 100%;
		}
		figcaption {
			height: fit-content;
		}
		&--tablet {
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
			@media ($l-s) {
				flex-wrap: nowrap;
			}
			a {
				flex: 0 1 calc(50% - 16px / 2);
				border-radius: 30px;
				overflow: hidden;
				@media ($l-s) {
					min-width: 85vw;
				}
			}
		}
		&--single {
			a {
				overflow: hidden;
			}
			img {
				border-radius: 30px;
			}
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 18px;
		padding-bottom: 24px;
		@media ($l-s) {
			order: 1;
		}
	}
	&__title {
		margin: 0 0 100px;
		@media ($l-s) {
			margin: 0 0 24px;
		}
	}
	&__description {
		p:last-child {
			margin: 0;
		}
	}
	&__links {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
		margin: 0 0 48px;
	}
}

.timeline {
	ul {
		padding: 0 0 24px 46px;
		position: relative;
		@media ($t) {
			padding: 0 0 0 32px;
		}
		&::before {
			content: "";
			position: absolute;
			width: 1px;
			height: 100%;
			left: 10px;
			top: 10px;
			background-color: $c-theme-brown;
		}
	}
	li {
		margin: 0 0 32px;
		&:last-child {
			margin: 0;
		}
		&::before {
			background-color: $c-theme-brown;
			width: 20px;
			height: 20px;
			left: -46px;
			top: 6px;
			@media ($t) {
				left: -32px;
			}
		}
	}
	&__title {
		margin: 0 0 16px;
	}
}

.contacts {
	font-size: clamp(1.125rem, 1.0417rem + 0.3704vw, 1.375rem); /* 22 > 18 */
	&__row {
		margin: 0 0 40px;
		@media ($t) {
			margin: 0 0 32px;
		}
		&:last-child {
			margin: 0;
		}
	}
	&__heading {
		margin: 0 0 40px;
		@media ($t) {
			margin: 0 0 32px;
		}
	}
	&__subtitle {
		margin: 0 0 40px;
		@media ($t) {
			margin: 0 0 32px;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 40px 52px;
		@media ($t) {
			gap: 0 32px;
		}
	}
}

.notfound {
	padding: 80px 0 0;
	&__container {
		max-width: 1140px;
		margin: 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__heading {
	}
	&__title {
		margin: 0 0 32px;
		text-transform: initial;
		// font-size: 60px;
		font-weight: 700;
	}
	&__text {
		margin: 0 0 32px;
	}
}

.detail {
	&__inner {
		background-color: $c-background-gray-accent;
		border-radius: 30px;
		overflow: hidden;
		padding: 40px 0;
		@media ($t) {
			padding: 32px 0;
		}
	}
	&__backlink {
		margin: 0 0 40px;
		display: inline-flex;
		align-items: center;
		font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
		@media ($t) {
			margin: 0 0 16px;
		}
		&::before {
			content: "";
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 8 12' fill='none'%3E%3Cpath d='M6.40234 0.804688L1.97239 5.23464C1.54932 5.65771 1.54932 6.34364 1.97239 6.76671L6.40234 11.1967' stroke='%23C25B3C' stroke-width='1.48457' stroke-linecap='round'/%3E%3C/svg%3E")
				center / 8px no-repeat;
			width: 24px;
			height: 24px;
			flex-shrink: 0;
			margin: 0 8px 0 0;
			transition: $transition-base;
		}
		&:hover {
			&::before {
				transform: translateX(-6px);
			}
		}
	}
	&__heading {
		color: $c-theme-grey;
		margin: 0 0 40px;
		@media ($t) {
			margin: 0 0 32px;
		}
	}
	&__subtitle {
		color: $c-theme-grey;
		margin: 0 0 20px;
	}
	&__image {
		width: 100%;
		margin: 0 0 40px;
		border-radius: 30px;
		overflow: hidden;
		@media ($t) {
			margin: 0 0 16px;
		}
		.swiper-slide {
			border-radius: 30px;
		}
		figure {
			aspect-ratio: 16 / 9;
			@media ($t) {
				aspect-ratio: 1 / 1;
			}
		}
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__date {
		color: $c-accent;
		margin: 0 0 40px;
		font-size: 16px;
		font-weight: 300;
	}
	&__detail {
		margin: 0 0 40px;
		@media ($t) {
			margin: 0 0 24px;
		}
	}
	&__info {
		margin: 0 0 40px;
		font-size: clamp(1.125rem, 1.0417rem + 0.3704vw, 1.375rem);
		&-row {
			display: flex;
			gap: 40px;
			margin: 0 0 24px;
			flex-wrap: wrap;
			&:last-child {
				margin: 0;
			}
			@media ($t) {
				gap: 16px 40px;
			}
		}
		&-item {
			width: fit-content;
			span {
				color: $c-theme-grey;
				margin: 0 0 10px;
			}
		}
	}
	&__gallery {
		margin: 0 0 40px;
		@media ($t) {
			margin: 0 0 24px;
		}
		&-title {
			margin: 0 0 20px;
			color: $c-theme-grey;
		}
		.swiper-slide {
			aspect-ratio: 3 / 2;
			flex: 0 1 calc(100% / 3 - 20px);
			min-width: 420px;
			margin: 0 32px 0 0;
			overflow: hidden;
			border-radius: 30px;
			&:last-child {
				margin: 0;
			}
			@media ($t) {
				aspect-ratio: 1 / 1;
				min-width: 296px;
				margin: 0 16px 0 0;
			}
		}
		&-link {
			height: 100%;
		}
		figure {
			@media ($t) {
				height: 100%;
				width: 100%;
				aspect-ratio: 1 / 1;
			}
		}
		img {
			position: absolute;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}
	&__links {
		padding: 20px $p-clamp;
		display: flex;
		align-items: center;
		gap: 24px;
		@media ($l-s) {
			gap: 8px;
			padding: 10px $p-clamp;
		}
	}
	&__link {
		border: 1px solid transparentize($c-theme-brown, 0.5);
		border-radius: 20px;
		flex: 1;
		overflow: hidden;
		display: flex;
		align-items: center;
		min-height: 122px;
		min-width: 292px;
		position: relative;
		background-color: $c-white;
		@media ($l-s) {
			width: 100%;
			max-width: 480px;
		}
		a:not(.btn) {
			text-decoration: underline;
			text-decoration-thickness: 1px;
		}
		&-text {
			position: relative;
			font-family: $f-baron;
			font-size: 16px;
			padding: 16px;
			line-height: 1;
			max-width: 230px;
			z-index: 3;
			* {
				margin: 0 0 10px;
				&:last-child {
					margin: 0;
				}
			}
		}
		&-button {
			position: relative;
			z-index: 3;
		}
		&-icon {
			position: absolute;
			flex-shrink: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			// z-index: 1;
		}
		&--pushkin img {
			max-width: 88px;
			transform: translateY(14px);
		}

		&--tg img {
			max-width: 94px;
			padding: 16px;
		}
		&--service {
			a {
				font-family: $f-com;
				font-size: 22px;
			}
		}
		&--goscatalog {
			justify-content: space-between;
			color: $c-theme-brown;
			padding: 28px 9%;
			@media ($l-s) {
				flex-direction: column;
				width: 100%;
				padding: 10px $p-clamp;
				max-width: 100%;
			}
			.detail__link-text {
				max-width: 560px;
			}
			.detail__link-icon {
				right: initial;
				top: initial;
				left: 0;
				bottom: 0;
				transform: translateY(6px);
				overflow: hidden;
			}
			p {
				font-family: $f-com;
			}
		}
	}
}

.table {
	display: grid;
	grid-template-columns: repeat(2, minmax(20%, 1fr));
	grid-auto-columns: 1fr;
	font-size: 16px;
	background-color: $c-white;
	border-radius: 30px;
	margin: 0 0 40px;
	@media ($t) {
		margin: 0 0 24px;
	}
	h4,
	h5 {
		margin: 0;
	}
	&__item {
		padding: 16px;
		border-bottom: 1px solid transparentize($c-theme-grey, 0.5);
		min-height: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&--inner-table {
			padding: 0;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
		}
		&--center {
			align-items: center;
			text-align: center;
		}
	}
	&__row {
		grid-column: span 2;
		display: grid;
		grid-template-columns: repeat(2, minmax(20%, 1fr));
		border-bottom: 1px solid transparentize($c-theme-grey, 0.5);
		&:last-child {
			border-bottom: none;
		}
	}
	&__group {
		align-items: center;
		text-align: center;
		padding: 16px;
		min-height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__col {
		padding: 16px;
		border-right: 1px solid transparentize($c-theme-grey, 0.5);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&:last-child {
			border-right: none;
		}
	}
	&--col-2 {
		grid-template-columns: repeat(2, 1fr);
		& > * {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			&:nth-child(2n - 1) {
				border-right: 1px solid transparentize($c-theme-grey, 0.5);
			}
			&:nth-last-child(-n + 2) {
				border-bottom: none;
			}
			@media ($t) {
				&:nth-child(2n - 1) {
					border-right: none;
				}
				&:nth-last-child(-n + 2) {
					border-bottom: 1px solid transparentize($c-theme-grey, 0.5);
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
	&--rules {
		@media ($t) {
			display: flex;
			flex-direction: column;
			& > * {
				&:nth-child(2n - 1) {
					order: 1;
				}
				&:nth-child(2n) {
					order: 2;
				}
			}
		}
	}
	&--tickets {
		.table__row {
			min-width: 660px;
		}
		.table__header {
			.table__item {
				border-bottom: none;
				min-height: initial;
				&:first-child {
					grid-row: span 2;
					justify-content: flex-start;
				}
				&:last-child {
					border-right: none;
				}
				.table__col {
					padding: 0px 8px;
					text-align: center;
				}
			}
		}
		.table__item {
			&:nth-child(2n - 1) {
				border-right: 1px solid transparentize($c-theme-grey, 0.5);
			}
			&:nth-last-child(-n + 2) {
				border-bottom: none;
			}
		}
	}
}

.preparation {
	.ymap {
		border-radius: 30px;
		overflow: hidden;
	}
}

area {
	cursor: pointer;
}

.objects {
	position: relative;
	&__container {
		margin: 40px auto;
	}
	&__nav {
		right: 24px;
		gap: 24px;
		flex-direction: row-reverse;
		margin: 0;
		transition: $transition-base;
		z-index: 100;
		&.map-view {
			position: absolute;
			top: 100%;
			transform: translateY(calc((100% + 32px) * -1));
			@media ($t) {
				position: fixed;
				top: 85%;
				transform: initial;
			}
		}
		&.list-view {
			position: fixed;
			top: 60%;
			@media ($t) {
				top: 85%;
			}
		}
	}
	&__select {
		width: 54px;
		height: 54px;
		border-radius: 50%;
		background-color: $c-white;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 2px 10px 0px #00000026;
		opacity: 0.8;
		svg {
			fill: $c-orangelight;
		}
		&:hover {
			opacity: 1;
		}
		&.active {
			background-color: $c-orangelight;
			opacity: 1;
			svg {
				fill: $c-white;
			}
		}
	}
	.map {
		position: relative;
		margin: -40px 0 0 0;
		&-wrapper {
			position: relative;
			touch-action: pan-x pan-y;
			height: 95dvh;
			z-index: 10;
			overflow: scroll;
			scrollbar-width: none;
			zoom: 100%;
			@media ($l-m) {
				zoom: 95%;
			}
			@media ($t) {
				height: 90dvh;
				zoom: 80%;
			}
			&::-webkit-scrollbar {
				width: 0 !important;
				height: 0;
				display: none !important;
				background: transparent;
			}
		}
		&-objects {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 460px;
			// z-index: 20;
			@media ($t) {
				width: 100vw;
				max-width: 460px;
				position: fixed;
				top: initial;
				bottom: 0;
				height: 80vh;
			}
			&.active {
				z-index: 200;
			}
			&-close {
				position: absolute;
				top: 24px;
				right: 24px;
				width: 28px;
				height: 28px;
				display: inline-block;
				border-radius: 50%;
				background:
					url("data:image/svg+xml,%3Csvg width='12px' height='12px' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.146 10.213 6.932 6l4.214-4.213a.66.66 0 0 0-.934-.934L6 5.067 1.786.853a.66.66 0 1 0-.934.934L5.066 6 .852 10.213a.66.66 0 1 0 .934.934l4.213-4.214 4.213 4.214a.66.66 0 0 0 .934-.934Z' fill='%23f4f5f7' stroke='%23f4f5f7' stroke-width='.28'/%3E%3C/svg%3E")
						center / 40% no-repeat,
					transparentize($c-white, 0.7);
				z-index: 21;
				box-shadow: 0px 2px 10px 0px #00000026;
				backdrop-filter: blur(4px);
			}
			.objects__item {
				position: absolute;
				top: 50%;
				left: 0;
				height: 100%;
				max-height: 720px;
				transition: $transition-middle;
				transform: translate(-200%, -50%);
				z-index: 20;
				box-shadow: 0px 4px 10.5px 0px #0000002b;
				border-radius: 0 30px 30px 0;
				&.active {
					transform: translate(0, -50%);
				}
				@media ($t) {
					transform: translate(0, 200%);
					border-radius: 30px 30px 0 0;
					&.active {
						transform: translate(0, -50%);
					}
				}
			}
		}
		&-download {
			position: absolute;
			top: 32px;
			right: 24px;
			z-index: 20;
		}
		#object-map {
			transition: all 0.01s ease;
			transform-origin: 0 0;
			touch-action: pan-x pan-y;
			max-width: initial;
			user-select: none;
			cursor: grab;
			position: absolute;
			object-fit: contain;
			object-position: top left;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;
		justify-items: center;
		@media ($l-m) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media ($t) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__item {
		flex: 0 1 calc(100% / 3 - 40px / 2);
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: $c-background-gray-accent;
		max-width: 460px;
		width: 100%;
		border-radius: 30px;
		transition: $transition-base;
		&:hover {
			box-shadow: 0px 4px 10.5px 0px #0000002b;
		}
	}
	&__text {
		padding: 16px;
	}
	&__bottom {
		padding: 16px;
	}
	&__title {
		margin: 0 0 16px;
		font-size: 24px;
		color: $c-theme-grey;
		font-family: $f-baron;
		@include line-clamp(2);
	}
	&__image {
		position: relative;
		overflow: hidden;
		margin: 0 0 16px;
		height: 280px;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__icon {
		position: absolute;
		bottom: 16px;
		left: 22px;
		width: 50px;
		height: 50px;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	&__description {
		font-size: clamp(1.125rem, 1.0833rem + 0.1852vw, 1.25rem);
	}
	&__link .btn {
		max-width: 100%;
	}
}
