.top {
	padding: 60px 0 0;
	&__container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		&::before {
			content: "";
			background: url("../img/decorate-02.png") bottom / contain no-repeat;
		}
		&::after {
			content: "";
			background: url("../img/decorate-01.png") top / contain no-repeat;
			transform: translateY(15%);
		}
	}
	&__content {
		grid-column: span 3;
		padding: 0 0 150px;
		position: relative;
	}
	&__title {
		@include h1;
		color: $c-theme-gray;
		margin: 0 0 32px;
		span {
			display: block;
		}
	}
	&__links {
		display: flex;
		gap: 16px;
	}
	&__link {
		padding: 14px;
		text-transform: uppercase;
		color: $c-text;
		font-size: 16px;
		background-color: $c-background-gray-accent;
		border-radius: 8px;
		&:hover {
		}
	}
	&__ticket {
		position: absolute;
		right: 0;
		bottom: 50%;
	}
}

.muranovo {
	&__container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
	&__item {
		width: 20vw;
		height: 20vw;
		transition: $transition-base;
	}
	&__word {
		padding: 14%;
		width: 100%;
		height: 100%;
		svg {
			width: 100%;
			height: 100%;
		}
		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
	&__pic {
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__text {
		width: 100%;
		height: 100%;
		background:
			url("../img/noise.png") center / contain repeat,
			$c-accent;
		color: $c-white;
		padding: 13% 7%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 16px;
	}
	.btn {
		font-family: $f-baron;
		text-transform: initial;
	}
}

.events {
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 24px;
		@media ($l-m) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media ($l-s) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media ($p-b) {
			grid-template-columns: 1fr;
		}
	}
	&__item {
		flex: 0 1 calc(25% - 12px);
		background:
			url("../img/noise.png") center / contain repeat,
			$c-accent;
		border-radius: 30px;
		overflow: hidden;
		transition: $transition-middle;
		opacity: 1;
		position: relative;
		@media ($p-b) {
			flex: 0 1 100%;
			max-width: 456px;
			width: 100%;
			margin: 0 auto;
		}
		&:nth-child(2n) {
			.events__link {
				flex-direction: column;
			}
			.events__text {
				justify-content: flex-end;
			}
		}

		&:hover {
			box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.4);
			transform: translateY(-7px);
			.events__prop {
				background-color: transparentize($c-accent, 0.1);
			}
		}
	}
	&__link {
		display: flex;
		flex-direction: column-reverse;
		height: 100%;
	}
	&__pic {
		position: relative;
		height: 218px;
		overflow: hidden;
		border-radius: 20px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: $transition-middle;
		}
	}
	&__props {
		position: absolute;
		padding: 24px;
		bottom: 0;
		left: 0;
		display: flex;
		gap: 10px;
	}
	&__prop {
		background-color: transparentize($c-accent, 0.5);
		backdrop-filter: blur(4px);
		height: 40px;
		color: $c-white;
		display: flex;
		align-items: center;
		justify-content: center;
		@include p3;
		line-height: 1;
		transition: $transition-middle;
	}
	&__text {
		min-height: 218px;
		padding: 32px 24px;
		color: $c-white;
		display: flex;
		flex-direction: column;
	}
	&__date {
		margin: 0 0 16px;
		@include p3;
	}
	&__title {
		@include h5;
	}
	.btn {
		font-family: $f-baron;
		text-transform: initial;
	}
	&__tabs {
		display: flex;
		gap: 12px;
		margin: 0 0 40px;
	}
	&__tab {
		padding: 10px 16px;
		background-color: transparentize($c-theme-brown, 0.9);
		color: $c-theme-brown;
		border-radius: 8px;
		font-size: 16px;
		transition: $transition-base;
		&:hover {
			background-color: transparentize($c-theme-brown, 0.8);
		}
		&.active {
			color: $c-white;
			background-color: $c-theme-brown;
		}
	}
	&__calendar {
		&-btn {
			border-radius: 50%;
			width: 40px;
			height: 40px;
			margin: 0 13px 0 0;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath d='M19.246 2h-3v-.75a.75.75 0 1 0-1.5 0V2h-7.5v-.75a.75.75 0 1 0-1.5 0V2h-3a2.25 2.25 0 0 0-2.25 2.25V6.5h21V4.25A2.25 2.25 0 0 0 19.246 2ZM.496 19.25a2.25 2.25 0 0 0 2.25 2.25h16.5a2.25 2.25 0 0 0 2.25-2.25V8h-21v11.25Zm15-7.5h1.5a.75.75 0 1 1 0 1.5h-1.5a.75.75 0 1 1 0-1.5Zm0 4.5h1.5a.75.75 0 1 1 0 1.5h-1.5a.75.75 0 1 1 0-1.5Zm-5.25-4.5h1.5a.75.75 0 1 1 0 1.5h-1.5a.75.75 0 1 1 0-1.5Zm0 4.5h1.5a.75.75 0 1 1 0 1.5h-1.5a.75.75 0 1 1 0-1.5Zm-5.25-4.5h1.5a.75.75 0 1 1 0 1.5h-1.5a.75.75 0 1 1 0-1.5Zm0 4.5h1.5a.75.75 0 1 1 0 1.5h-1.5a.75.75 0 1 1 0-1.5Z' fill='%2372665B'/%3E%3C/svg%3E")
				center / 22px no-repeat;
		}
	}
	&__reset {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		margin: 0 0 0 13px;
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath fill='%2372665B' stroke='%2372665B' stroke-width='.4' d='M15.349 14.018 9.329 8l6.02-6.018A.943.943 0 1 0 14.015.647l-6.019 6.02L1.977.646A.943.943 0 1 0 .643 1.98l6.02 6.018-6.02 6.02a.943.943 0 1 0 1.334 1.333l6.019-6.02 6.019 6.02a.943.943 0 1 0 1.334-1.334Z'/%3E%3C/svg%3E")
			center / 16px no-repeat;
	}
	&__body {
		display: none;
		&.active {
			display: grid;
		}
	}
}

.ad {
	background:
		url("../img/noise.png") center / contain repeat,
		$c-theme-gray;
	padding: 28px;
	&__container {
		max-width: 1180px;
		margin: 0 auto;
	}
	&__content {
		display: flex;
		gap: 20px;
		justify-content: center;
	}
	&__item {
		display: flex;
		align-items: center;
		&::after {
			content: "";
			background: url("data:image/svg+xml,%3Csvg width='13' height='13' fill='%23818B94' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.908 10.914a1 1 0 1 0 1.414 1.414L.908 10.914ZM12.386 1.85a1 1 0 0 0-1-1h-9a1 1 0 0 0 0 2h8v8a1 1 0 1 0 2 0v-9ZM2.322 12.328l9.771-9.77-1.414-1.415-9.77 9.77 1.413 1.415Z' /%3E%3C/svg%3E")
				center / 13px no-repeat;
			background-color: $c-white;
			display: block;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			flex-shrink: 0;
			margin: 0;
			transition: $transition-base;
			opacity: 0;
		}
		&:hover {
			&::after {
				margin-left: 16px;
				opacity: 1;
			}
			.ad__link {
				opacity: 1;
				border-bottom-color: $c-white;
				transform: translateY(-6px);
			}
		}
	}
	&__link {
		color: $c-white;
		@include h4;
		line-height: 1;
		opacity: 0.3;
		border-bottom: 2px solid transparent;
		padding: 0 0 6px 0;
		width: 100%;
		height: 100%;
	}
}

.service {
	background:
		url("../img/noise.png") center / contain repeat,
		$c-accent;
	* {
		color: $c-white;
	}
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	&__pages {
		flex: 1;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 14px;
		grid-row: span 2;
		@media ($l-m) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	&__block {
		position: relative;
		border-radius: 20px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		height: 230px;
		padding: 16px;
		&:nth-child(-n + 4) {
			border-radius: 0 0 20px 20px;
		}
		&:nth-last-child(-n + 4) {
			border-radius: 20px 20px 0 0;
		}
		@media ($l-m) {
			&:nth-child(4n) {
				display: none;
			}
		}
		&:hover {
			&.service__page img {
				filter: brightness(0.85);
				transform: scale(1.05);
			}
			.service__name {
				transform: translateY(-6px);
			}
		}
	}
	&__cover {
		object-fit: cover;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		transition: $transition-middle;
	}
	&__name {
		position: relative;
		z-index: 2;
		text-align: center;
		min-height: 36px;
		transition: $transition-middle;
	}

	&__content {
		flex: 1;
		padding: 104px 24px 64px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__heading {
		padding: 104px 24px 16px;
	}
	&__title {
		margin: 0 0 32px;
	}
	&__links {
		display: flex;
		gap: 16px;
		margin: 0 0 32px;
		flex-wrap: wrap;
	}
	&__link {
		display: block;
		padding: 9px 14px;
		background-color: #fbfbfb1a;
		border-radius: 8px;
		font-size: 16px;
	}
	&__more {
		align-self: end;
		padding: 16px 24px 64px;
	}
}

.partners {
	background:
		url("../img/noise.png") center / contain repeat,
		$c-theme-gray;
	padding: 28px 0;
	color: $c-white;
	&__list {
		display: grid;
		grid-auto-columns: fit-content;
		grid-auto-flow: column;
	}
	&__item {
		min-width: 250px;
		animation: ticker 2s linear infinite;
		text-align: center;
		display: flex;
		justify-content: center;
	}
}

.banner {
	&__container {
		margin: 0 auto;
		max-width: 1440px;
	}
}

.gosuslugi {
	background-color: $c-background-gray-accent;
	padding: 45px 0;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 28px;
	}
	&__content {
		flex: 0 1 58%;
	}
	&__subtitle {
		margin: 0 0 24px;
		font-size: 20px;
	}
	&__title {
		margin: 0 0 32px;
	}
	&__pic {
		max-width: 320px;
		width: 100%;
	}
}

.guest {
	padding: 90px 0;
	position: relative;
	&::before {
		content: "";
		background: url("../img/decorate-03.png") center / contain no-repeat;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 608px;
		width: 326px;
		z-index: -1;
	}
	&::after {
	}
	&__container {
	}
	&__content {
		max-width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		margin: 0 0 58px;
		text-align: center;
	}
	&__links {
		display: flex;
		gap: 8px;
		margin: 0 0 58px;
		text-align: center;
	}
	&__link {
		text-transform: uppercase;
	}
}

.news {
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 90px 60px;
		@media ($l-m) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media ($t) {
			grid-template-columns: 1fr;
		}
	}
	&__item {
		flex: 0 1 calc(100% / 3 - 30px);
	}
	&__top {
		position: relative;
		margin: 0 0 40px;
		min-height: 200px;
	}
	&__title {
		padding: 32px 0 0;
		color: $c-theme-gray;
		text-shadow:
			1px 1px 0 $c-white,
			1px -1px 0 $c-white,
			-1px 1px 0 $c-white,
			-1px -1px 0 $c-white;
		-webkit-background-clip: text;
	}
	&__pic {
		position: absolute;
		top: 0;
		left: 46px;
		width: 240px;
		height: 200px;
		display: none;
		border-radius: 20px;
		overflow: hidden;
		z-index: -1;
		display: none;
	}
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__date {
		margin: 0 0 20px;
		font-size: 20px;
	}
	&__announce {
		font-size: 20px;
		color: $c-text;
	}
}

.pagetop {
	padding: 48px 0;
	background-color: $c-accent;
	margin: 0 0 40px;
	* {
		color: $c-white;
	}
	.breadcrumps {
		margin: 0 0 24px;
		font-size: 14px;
		display: flex;
		align-items: center;
		gap: 8px;
		&__item {
			padding: 6px;
		}
		&__home,
		&__prev {
			font-weight: 300;
			opacity: 0.9;
			transition: $transition-base;
			&:hover {
				opacity: 1;
			}
		}
		&__separator {
			width: 11px;
			height: 1px;
			background-color: $c-white;
		}
		&__current {
			font-weight: 700;
		}
	}
	&__title {
	}
}

.category {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(420px, 0.7fr));
		justify-content: center;
		gap: 40px;
		@media ($t) {
			display: flex;
			flex-direction: column;
			max-width: 420px;
			margin: 0 auto;
			gap: 20px;
		}
	}
	&__item {
		background:
			url("../img/noise.png") center / contain repeat,
			$c-theme-gray;
		border-radius: 30px;
		height: 276px;
		overflow: hidden;
		transition: $transition-base;
		&:hover {
			box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.4);
			.category__name {
				transform: translate(3px, -6px);
			}
			.category__pic {
				filter: brightness(0.9);
			}
		}
		@media ($t) {
			height: 220px;
		}
	}
	&__link {
		display: block;
		padding: 16px 20px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
	}
	&__name {
		color: $c-white;
		position: relative;
		z-index: 2;
		white-space: no-wrap;
		transition: $transition-middle;
	}
	&__pic {
		position: absolute;
		bottom: 0;
		right: 0;
		transition: $transition-middle;
		display: flex;
		justify-content: flex-end;
		@media ($t) {
			max-width: 62%;
		}
	}
}

.swiper-tape {
	overflow: visible;
}

.seemore {
	.category__item {
		flex: 0 0 calc(100% / 3 - 32px);
		min-width: 420px;
		margin: 0 32px 0 0;
		&:last-child {
			margin: 0;
		}
	}
}

.front-page {
	.news {
		&__item {
			min-width: 408px;
		}
	}
	.events {
		&__list {
			display: flex;
			gap: 0;
		}
		&__item {
			min-width: 318px;
			margin: 0 24px 0 0;
			&:last-child {
				margin: 0;
			}
		}
	}
	.news {
		&__list {
			display: flex;
		}
		&__item {
			&:nth-child(3n - 1) {
				.news__pic {
					display: block;
				}
			}
		}
	}
}

.news-page {
	.news {
		&__top {
			min-height: initial;
		}
	}
}
