.user-content {
	font-size: 22px;
	// *:not(ol, ul, li) {
	// 	margin: 0 0 20px;
	// 	&:last-child {
	// 		margin: 0;
	// 	}
	// }
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 20px;
	}
	h3,
	.h3 {
		color: $c-theme-grey;
		text-transform: lowercase;
		margin: 0 0 40px;
	}
	a {
		text-decoration: underline;
		text-decoration-thickness: 1px;
		&:hover {
			text-decoration: none;
		}
	}
	ul {
		padding: 0 0 24px 28px;
	}
	li {
		margin: 0 0 16px;
		position: relative;
		@include last-child;
		@media ($t) {
			margin: 0 0 8px;
		}
		&::before {
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $c-text;
			position: absolute;
			left: -14px;
			top: 14px;
		}
	}
	q {
		display: block;
		font-style: italic;
		text-align: right;
		font-size: 20px;
		line-height: 1.4;
		margin: 40px 0 0;
	}
	blockquote {
		padding: 32px 50px 32px 78px;
		background-color: $c-white;
		border-radius: 30px;
		margin: 0 0 20px;
		q {
			text-align: left;
			color: $c-theme-brown;
			margin: 0;
			&:before {
				content: "";
				display: inline-block;
				transform: translateX(-28px);
				width: 24px;
				height: 20px;
				background: url("data:image/svg+xml,%3Csvg width='24' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.308 10.076H5.077c-.385 0-.712-.134-.981-.403a1.336 1.336 0 0 1-.404-.981V8.23c0-1.019.36-1.889 1.082-2.61a3.558 3.558 0 0 1 2.61-1.082h.924c.25 0 .466-.091.649-.274a.887.887 0 0 0 .274-.649V1.77a.888.888 0 0 0-.274-.65.888.888 0 0 0-.65-.273h-.922c-1 0-1.955.195-2.863.584a7.442 7.442 0 0 0-2.359 1.58A7.436 7.436 0 0 0 .584 5.366 7.193 7.193 0 0 0 0 8.23v10.154c0 .77.27 1.423.808 1.962a2.671 2.671 0 0 0 1.961.807h5.539c.77 0 1.423-.269 1.962-.807a2.671 2.671 0 0 0 .807-1.962v-5.538c0-.77-.27-1.423-.808-1.962a2.67 2.67 0 0 0-1.961-.808Zm14.885.808a2.67 2.67 0 0 0-1.962-.808h-3.23c-.385 0-.712-.134-.981-.403a1.335 1.335 0 0 1-.404-.981V8.23c0-1.019.36-1.889 1.082-2.61a3.557 3.557 0 0 1 2.61-1.082h.923c.25 0 .467-.091.65-.274a.888.888 0 0 0 .274-.649V1.77a.888.888 0 0 0-.275-.65.888.888 0 0 0-.649-.273h-.923c-1 0-1.954.195-2.863.584a7.441 7.441 0 0 0-2.358 1.58 7.433 7.433 0 0 0-1.58 2.357 7.196 7.196 0 0 0-.584 2.863v10.154c0 .77.27 1.423.808 1.962a2.67 2.67 0 0 0 1.962.807h5.538c.77 0 1.423-.269 1.961-.807A2.67 2.67 0 0 0 24 18.384v-5.538c0-.77-.269-1.423-.807-1.962Z' fill='%2372665B'/%3E%3C/svg%3E")
					center / 100% no-repeat;
			}
		}
	}
	.btn {
		text-decoration: none;
	}
	figure {
		border-radius: 30px;
		margin: 0 0 40px;
		overflow: hidden;
		max-height: 634px;
	}
}
