.user-content {
	font-size: 22px;
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 20px;
	}
	a {
		text-decoration: underline;
		text-decoration-thickness: 1px;
		&:hover {
			text-decoration: none;
		}
	}
	ul {
		padding: 0 0 24px 28px;
	}
	li {
		margin: 0 0 16px;
		position: relative;
		@include last-child;
		@media ($t) {
			margin: 0 0 8px;
		}
		&::before {
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $c-text;
			position: absolute;
			left: -14px;
			top: 14px;
		}
	}
	q {
		display: block;
		font-style: italic;
		text-align: right;
		font-size: 20px;
		line-height: 1.4;
		margin: 40px 0 0;
	}
	.btn {
		text-decoration: none;
	}
}
