@charset "UTF-8";

@import "includes/vars";
@import "includes/fonts";
@import "includes/reset";
@import "includes/keyframes";

* {
	box-sizing: border-box;
}

:root {
	--animate-duration: 0.7s;
	--animate-delay: 0.5s;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	position: relative;
	min-height: 100vh;
	min-width: 320px;
	font-size: clamp(0.875rem, 0.7885rem + 0.3846vw, 1.125rem);
	overflow-x: hidden;
	font-family: "Commissioner", sans-serif;
	font-weight: 400;
	color: #ffffff;
	font-style: normal;
	line-height: normal;
	scrollbar-gutter: stable;
}

.lock {
	overflow: hidden;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: 700;
	text-transform: uppercase;
}

h1,
.h1 {
	font-family: "BaronNeue", sans-serif;
	font-size: clamp(2.5rem, 0.3365rem + 9.6154vw, 8.75rem); /* 140 > 40 */
	line-height: 0.9;
}
h2,
.h2 {
	font-family: "BaronNeue", sans-serif;
	font-size: clamp(2.25rem, 0.8654rem + 6.1538vw, 6.25rem); /* 100 > 36 */
	line-height: 0.9;
}

h3,
.h3 {
	font-family: "BaronNeue", sans-serif;
	font-size: clamp(1.5rem, 1.2404rem + 1.1538vw, 2.25rem); /* 36 > 24 */
	line-height: 0.9;
}

h4,
.h4 {
	font-family: "BaronNeue", sans-serif;
	font-size: clamp(1.5rem, 1.3109rem + 0.8403vw, 2rem);
}

h5,
.h5 {
	font-family: "BaronNeue", sans-serif;
	font-size: clamp(1.125rem, 1.0777rem + 0.2101vw, 1.25rem);
}

a {
	text-decoration: none;
	transition: $transition-base;
	color: $c-accent;
}

a:focus,
a:active,
a:visited {
	outline: none;
	border: none;
}

img {
	max-width: 100%;
}

p {
	margin: 0 0 20px;
	line-height: 1.4;
	@media ($t) {
		margin: 0 0 12px;
	}
}

p {
	@include last-child;
}

strong {
	font-weight: bold;
}

img {
	display: block;
	max-width: 100%;
}

::selection {
	background: #d2948c;
}

button,
input[type="submit"] {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 0;
	width: fit-content;
	color: $c-white;
	font-family: "Gilroy", sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline: none;
	}
}

input[type="text"] {
	background: transparent;
	font-family: "Gilroy", sans-serif;
	border: none;
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	padding: 8px 0;
	font-size: clamp(1rem, 0.9135rem + 0.3846vw, 1.25rem);
	margin: 0 0 14px;
	color: $c-white;
	transition: $transition-base;
	&:focus {
		outline: none;
		border-color: $c-accent;
	}
}

input[type="search"] {
	-webkit-appearance: none;
}

/* Скрыть лупу */
::-webkit-search-results-button {
	-webkit-appearance: none;
}
::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="reset"]::-moz-focus-inner {
	display: none;
}

label {
	color: rgba(255, 255, 255, 0.25);
	font-size: clamp(1rem, 0.9135rem + 0.3846vw, 1.25rem);
	margin: 0 0 5px;
}

.btn {
	cursor: pointer;
	transition: $transition-base;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	&:focus {
		outline: none;
	}
	&--white {
		border-color: $c-white;
		color: $c-white;
	}
}

.btn-primary,
input[type="submit"] {
	color: $c-white;
	background: $c-accent;
	display: inline-block;
	padding: 16px 60px;
	width: fit-content;
	min-width: 210px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	border-radius: 10px;
	&:hover {
		background: $c-accent-hover;
	}
}

.btn-transparent {
	padding: 19px;
	border: 1px solid $c-theme-gray;
	color: $c-theme-gray;
	border-radius: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 500;

	min-width: 192px;
	width: fit-content;
	flex-shrink: 0;
}

.c-accent {
	color: $c-accent;
}

.section {
	margin: 0 0 180px;
	scroll-margin-top: 90px;
	@media ($t) {
		margin: 0 0 60px;
	}
	&:last-child {
		margin: 0 0 80px;
	}
	&-heading {
		margin: 0 0 80px;
		animation: fadeInUp $animation-duration-base;
		@media ($t) {
			margin: 0 0 20px;
		}
	}
}

.wrapper {
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.container {
	max-width: 1440px;
	padding: 0 $p-clamp;
	margin: 0 auto;
}

.user-content {
	li {
		margin: 0 0 12px;
		display: flex;
		font-size: clamp(0.875rem, 0.8317rem + 0.1923vw, 1rem);
		@include last-child;
		@media ($t) {
			margin: 0 0 8px;
		}
		&::before {
			content: "";
			display: inline-block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $c-white;
			margin: 7px 16px 0 0;
			flex-shrink: 0;
		}
	}
}

.preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: $c-text;
	z-index: 200;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	opacity: 1;
	visibility: visible;
	transition: 0.5s ease;
	svg {
		width: 220px;
		height: 220px;
	}
	&--hidden {
		opacity: 0;
		visibility: hidden;
		z-index: -10;
	}
}

.ticker {
	position: relative;
	overflow: hidden;
	&__content {
		display: flex;
	}
	&__item {
		white-space: nowrap;
		flex-shrink: 0;
		padding: 0 4px;
		font-size: clamp(0.875rem, 0.8277rem + 0.2101vw, 1rem);
		animation: ticker 2s linear forwards infinite paused;
	}
	&:hover {
		.ticker__item {
			animation-play-state: running;
		}
	}
}

@keyframes ticker {
	0% {
		transform: translateZ(0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

.desktop-hidden {
	@media ($l-s) {
		display: block;
	}
}

.header {
	background-color: $c-white;
	a,
	span,
	button {
		font-size: 16px;
	}
	&__container {
		position: relative;
	}
	&__content {
		display: flex;
		padding: 16px 0;
		align-items: center;
		gap: 54px;
		justify-content: space-between;
		@media ($t) {
			padding: 9px 0;
			height: 40px;
		}
	}
	&__menu {
		@media ($l-m) {
			opacity: 0;
			visibility: hidden;
			position: fixed;
			inset: 0;
			top: 72px;
			width: 100%;
			height: 100%;
			background: $c-white;
			padding: 20px $p-clamp 60px;
			z-index: -1;
			transition: $transition-base;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		@media ($t) {
			top: 40px;
		}
		&--open {
			@media ($l-m) {
				opacity: 1;
				visibility: visible;
				z-index: 99;
				overflow-y: auto;
			}
		}
		.header__ticket {
			display: none;
			button,
			a {
				padding: 18px 4px;
				max-width: 328px;
				width: 100%;
				margin: 0 auto;
			}
			@media ($l-m) {
				display: block;
				text-align: center;
			}
		}
	}
	.nav {
		&__list {
			display: flex;
			gap: 20px;
			@media ($l-m) {
				flex-direction: column;
				gap: 0;
			}
		}
		&__item {
			position: relative;
			padding: 24px 0;
			@media ($l-m) {
				padding: 15px 0;
				width: fit-content;
			}
			&--drop {
				display: flex;
				align-items: center;
				@media ($l-m) {
					flex-direction: column;
					align-items: flex-start;
				}
				&:hover {
					.nav__link {
						color: $c-accent;
						&:after {
							background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.999 6.1958L7.56907 1.76585C7.146 1.34278 6.46007 1.34278 6.037 1.76584L1.60705 6.1958' stroke='%23C25B3C' stroke-width='1.48457' stroke-linecap='round'/%3E%3C/svg%3E");
						}
					}
					.dropdown-list {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		&__link {
			color: $c-text;
			&--selected {
				color: $c-accent;
			}
			&--drop {
				display: flex;
				align-items: center;
				cursor: default;
				&:after {
					content: "";
					display: block;
					background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.07715 1.54297L5.5071 5.97292C5.93017 6.39599 6.6161 6.39599 7.03917 5.97292L11.4691 1.54297' stroke='%231D1D1B' stroke-width='1.48457' stroke-linecap='round'/%3E%3C/svg%3E");
					width: 10px;
					height: 5px;
					margin: 0 0 0 6px;
					flex-shrink: 0;
					transition: $transition-base;
				}
				@media ($l-m) {
					cursor: pointer;
				}
				&.active {
					color: $c-accent;
					&:after {
						background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.999 6.1958L7.56907 1.76585C7.146 1.34278 6.46007 1.34278 6.037 1.76584L1.60705 6.1958' stroke='%23C25B3C' stroke-width='1.48457' stroke-linecap='round'/%3E%3C/svg%3E");
					}
				}
			}
		}
	}
	.dropdown-list {
		position: absolute;
		background-color: $c-white;
		left: -24px;
		top: 100%;
		padding: 32px 24px 24px;
		opacity: 0;
		visibility: hidden;
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: 24px 48px;
		z-index: 9;
		border-radius: 20px;
		box-shadow: 0px 2px 19px 0px rgba(29, 29, 27, 0.2);
		transition: $transition-base;
		@media ($l-m) {
			position: static;
			background: none;
			display: none;
			grid-template-columns: 1fr;
			flex-direction: column;
			opacity: 1;
			visibility: visible;
			box-shadow: none;
			flex-direction: column;
			gap: 24px;
			padding: 24px 0 0 16px;
		}
		&.open {
			display: grid;
		}
		&__item {
			width: max-content;
		}
		&__link {
			color: $c-text;
			display: block;
			&:hover {
				color: $c-accent;
			}
		}
	}
	&__ticket {
		@media ($l-b) {
			display: none;
		}
		button {
			padding: 17px 4px 8px;
			color: $c-accent;
			border-color: $c-accent;
			width: 152px;
		}
	}
	&__buttons {
		display: flex;
		justify-content: flex-end;
		gap: 20px;
		align-items: center;
		transition: $transition-base;
		@media ($t) {
			opacity: 0;
			visibility: hidden;
		}
		&.active {
			opacity: 1;
			visibility: visible;
			z-index: 199;
		}
	}
	&__button {
		color: $c-theme-gray;
		font-size: 20px;
		font-weight: 700;
		transition: $transition-base;
		display: flex;
		&:hover {
			color: $c-accent;
		}
		svg {
			max-width: 24px;
			max-height: 24px;
			fill: $c-theme-gray;
			transition: $transition-base;
			&:hover {
				fill: $c-accent;
			}
		}
	}
	.search {
		position: fixed;
		inset: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		backdrop-filter: blur(4px);
		padding: 20vh $p-clamp 40px;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		transition: $transition-base;
		&.open {
			opacity: 1;
			visibility: visible;
			z-index: 300;
		}
		&__overlay {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		&__close {
			position: absolute;
			top: 70px;
			right: 60px;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath d='m15.353 14.019-6.02-6.02 6.02-6.018A.943.943 0 0 0 14.02.647L8 6.667 1.982.647A.943.943 0 0 0 .648 1.981L6.668 8l-6.02 6.019a.943.943 0 1 0 1.334 1.334L8 9.333l6.02 6.02a.943.943 0 1 0 1.333-1.334z' fill='%23FBFBFB' stroke='%23FBFBFB' stroke-width='.4'/%3E%3C/svg%3E")
				center no-repeat;
			display: block;
			width: 16px;
			height: 16px;
			opacity: 0.8;
			transition: $transition-base;
			&:hover {
				opacity: 1;
			}
			@media ($t) {
				display: none;
			}
		}
		&__form {
			width: 100%;
			max-width: 60vw;
			margin: 0 0 24px;
			@media ($l-m) {
				max-width: 80vw;
			}
			@media ($t) {
				max-width: 100%;
			}
		}
		&__fieldset {
			position: relative;
			&::before {
				content: "";
				display: block;
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' fill='none'%3E%3Cpath d='M2.696 8.189a5.708 5.708 0 1 1 11.416 0 5.708 5.708 0 0 1-11.416 0zM8.404.435a7.754 7.754 0 1 0 4.712 13.913l3.988 3.987a1.023 1.023 0 0 0 1.446-1.446L14.562 12.9A7.754 7.754 0 0 0 8.403.435z' fill='%23818B94' stroke='%23818B94' stroke-width='.7' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
					center / contain no-repeat;
				width: 18px;
				height: 18px;
				position: absolute;
				left: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.clear-btn {
			position: absolute;
			display: block;
			width: 15px;
			height: 15px;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath d='m15.352 14.019-6.02-6.02 6.02-6.018A.943.943 0 1 0 14.018.647L8 6.667 1.981.647A.943.943 0 0 0 .647 1.981L6.667 8l-6.02 6.019a.943.943 0 1 0 1.334 1.334l6.018-6.02 6.02 6.02a.944.944 0 1 0 1.333-1.334z' fill='%23818B94' stroke='%23818B94' stroke-width='.4'/%3E%3C/svg%3E")
				center / contain no-repeat;
		}
		&__input {
			width: 100%;
			margin: 0 auto;
			display: flex;
			padding: 18px 44px 18px 50px;
			border-radius: 20px;
			border: none;
			outline: none;
			font-size: 22px;
			font-family: $f-com;
		}
		&__results {
			width: 100%;
			max-width: 60vw;
			margin: 0 auto;
			background-color: $c-white;
			padding: 24px 0;
			border-radius: 20px;
			opacity: 0;
			visibility: hidden;
			z-index: -1;
			transition: $transition-base;
			@media ($l-m) {
				max-width: 80vw;
			}
			@media ($t) {
				max-width: 100%;
			}
			&.active {
				opacity: 1;
				visibility: visible;
				z-index: 2;
			}
			.btn {
				width: 100%;
				text-transform: uppercase;
			}
			&-content {
				display: block;
				&.hidden {
					display: none;
				}
			}
			&-list {
				max-height: 52vh;
				overflow-y: auto;
				&.added {
					& > li {
						display: block !important;
					}
				}
			}
			&-item {
				transition: $transition-base;
				display: none;
				&:hover {
					background-color: #e6e8ec;
				}
				&:nth-child(-n + 5) {
					display: block;
				}
			}
			&-link {
				padding: 12px 24px;
				display: block;
				@media ($t) {
					padding: 10px 24px;
				}
			}

			&-group {
				color: $c-theme-gray;
				margin: 0 0 4px;
			}
			&-title {
				font-size: 20px;
				color: $c-text;
			}
			&-show {
				margin: 16px 0 0 0;
				padding: 0 24px;
			}
			&-nothing {
				display: none;
				color: $c-accent;
				font-size: 20px;
				padding: 0 24px;
				&.active {
					display: block;
				}
			}
		}
	}
}

.logo {
	z-index: 199;
	svg {
		width: 185px;
		height: 37px;
		@media ($l-s) {
			width: 121px;
			height: 25px;
		}
	}
}

.burger {
	display: none;
	z-index: 199;
	@media ($l-m) {
		display: block;
	}
	svg {
		width: 24px;
		height: 18px;
		stroke: $c-theme-gray;
	}

	#top-line,
	#bottom-line,
	#middle-line {
		transform-box: fill-box;
		transform-origin: center;
	}

	&.active {
		#top-line {
			animation: down-rotate 0.6s ease-out both;
		}
		#bottom-line {
			animation: up-rotate 0.6s ease-out both;
		}
		#middle-line {
			animation: hide 0.6s ease-out forwards;
		}
	}

	@keyframes up-rotate {
		0% {
			animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
			transform: translateY(0px);
		}
		30% {
			transform-origin: center;
			animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
			transform: translateY(-10px);
		}
		100% {
			transform-origin: center;
			transform: translateY(-10px) rotate(45deg) scale(0.9);
		}
	}

	@keyframes down-rotate {
		0% {
			animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
			transform: translateY(0px);
		}
		30% {
			transform-origin: center;
			animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
			transform: translateY(10px);
		}
		100% {
			transform-origin: center;
			transform: translateY(10px) rotate(-45deg) scale(0.9);
		}
	}

	@keyframes hide {
		29% {
			opacity: 1;
		}
		30% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
}

.footer {
	padding: 50px 0 30px;
	position: relative;
	z-index: 3;
	background-color: $c-accent;
	color: $c-white;
	font-size: 16px;
	font-weight: 300;
	@media ($t) {
		padding: 56px 0 44px;
	}
	a,
	button {
		color: $c-white;
		opacity: 0.8;
		border-color: $c-white;
		font-weight: 300;
		&:hover {
			color: $c-white;
			opacity: 1;
		}
	}
	svg {
		fill: $c-white;
	}
	.btn {
		border-radius: 10px;
		width: 100%;
		text-align: center;
	}
	&__logo {
		margin: 0 0 6px;
		svg {
			width: 246px;
			height: 51px;
		}
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		grid-template-columns: calc(40% - 25px) calc(60% - 25px);
		gap: 54px;
		@media ($t) {
			flex-direction: column;
		}
	}
	&__logo {
		flex: 0 0 100%;
		grid-column: span 2;
		@media ($t) {
			order: 1;
		}
	}
	&__contacts {
		flex: 0 1 40%;
		@media ($l-b) {
			flex: 0 1 33.333%;
		}
		@media ($t) {
			order: 5;
		}
		& > div {
			max-width: 256px;
			@media ($t) {
				max-width: 100%;
			}
		}
	}
	&__mail {
		margin: 0 0 20px;
	}
	&__address {
		margin: 0 0 18px;
	}
	&__maplink {
		margin: 0 0 32px;
	}
	.social {
		@media ($t) {
			max-width: 360px;
			margin: 0 auto;
		}
		&__list {
			display: flex;
			gap: 9px;
			@media ($t) {
				justify-content: space-between;
			}
		}
		&__item {
			width: 40px;
			height: 40px;
			background: $c-orangelight;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: $transition-base;
			&:hover {
				background: $c-accent;
			}
		}
		&__link {
			padding: 8px;
			display: flex;
		}
	}
	.nav {
		flex: 0 1 auto;
		@media ($t) {
			order: 2;
		}
		&__list {
			display: grid;
			grid-template-columns: repeat(3, auto);
			flex-wrap: wrap;
			gap: 10px 60px;
			@media ($t) {
				grid-template-columns: repeat(2, minmax(200px, 1fr));
			}
			@media ($p-m) {
				display: block;
			}
		}
		&__item {
			width: fit-content;
			margin: 0 0 10px;
		}
	}
	&__feedback {
		flex: 0 1 40%;
		@media ($l-b) {
			flex: 0 1 33.333%;
		}
		@media ($t) {
			order: 3;
		}
		p {
			font-size: 22px;
			margin: 0 0 8px;
			font-weight: 700;
		}
	}
	.phones {
		display: flex;
		flex: 0 1 auto;
		gap: 60px;
		@media ($t) {
			order: 4;
			display: block;
		}
		&__item {
			@media ($t) {
				margin: 0 0 32px;
				@include last-child;
			}
		}
		&__link {
			display: block;
			margin: 0 0 8px;
			font-size: 22px;
			opacity: 1;
			font-weight: 700;
		}
		span {
			opacity: 0.8;
			font-weight: 300;
		}
	}
	&__copy {
		grid-column: span 2;
		opacity: 0.5;
		text-align: center;
		max-width: 1060px;
		margin: 0 auto;
		font-size: 14px;
		@media ($t) {
			order: 6;
			text-align: left;
		}
	}
}

.main {
	flex-grow: 1;
	padding: 80px 0 0;
	.inner {
		margin: 0;
		padding: 0;
		border: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
